header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-h);
    z-index: 100;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    transition: top 0.5s;
}
header .logo a {
    display: block;
    width: 132px;
    height: 42px;
    background: url(../images/common/logo_w.png) no-repeat center center / contain;
}
header .util {
    display: flex;
    align-items: center;
}
header .util .mypage,
header .util .lang .lang_open,
header .util .search .search_open {
    display: block;
    width: 36px;
    height: 36px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 11C9.4875 11 8.19271 10.4615 7.11562 9.38437C6.03854 8.30729 5.5 7.0125 5.5 5.5C5.5 3.9875 6.03854 2.69271 7.11562 1.61562C8.19271 0.538542 9.4875 0 11 0C12.5125 0 13.8073 0.538542 14.8844 1.61562C15.9615 2.69271 16.5 3.9875 16.5 5.5C16.5 7.0125 15.9615 8.30729 14.8844 9.38437C13.8073 10.4615 12.5125 11 11 11ZM0 22V18.15C0 17.3708 0.200521 16.6547 0.601562 16.0016C1.0026 15.3484 1.53542 14.85 2.2 14.5062C3.62083 13.7958 5.06458 13.263 6.53125 12.9078C7.99792 12.5526 9.4875 12.375 11 12.375C12.5125 12.375 14.0021 12.5526 15.4687 12.9078C16.9354 13.263 18.3792 13.7958 19.8 14.5062C20.4646 14.85 20.9974 15.3484 21.3984 16.0016C21.7995 16.6547 22 17.3708 22 18.15V22H0ZM2.75 19.25H19.25V18.15C19.25 17.8979 19.187 17.6687 19.0609 17.4625C18.9349 17.2562 18.7687 17.0958 18.5625 16.9812C17.325 16.3625 16.076 15.8984 14.8156 15.5891C13.5552 15.2797 12.2833 15.125 11 15.125C9.71667 15.125 8.44479 15.2797 7.18437 15.5891C5.92396 15.8984 4.675 16.3625 3.4375 16.9812C3.23125 17.0958 3.0651 17.2562 2.93906 17.4625C2.81302 17.6687 2.75 17.8979 2.75 18.15V19.25ZM11 8.25C11.7562 8.25 12.4036 7.98073 12.9422 7.44219C13.4807 6.90365 13.75 6.25625 13.75 5.5C13.75 4.74375 13.4807 4.09635 12.9422 3.55781C12.4036 3.01927 11.7562 2.75 11 2.75C10.2437 2.75 9.59635 3.01927 9.05781 3.55781C8.51927 4.09635 8.25 4.74375 8.25 5.5C8.25 6.25625 8.51927 6.90365 9.05781 7.44219C9.59635 7.98073 10.2437 8.25 11 8.25Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .util .lang .lang_open {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 22.75C9.9625 22.75 8.50937 22.4547 7.14062 21.8641C5.77187 21.2734 4.57656 20.4672 3.55469 19.4453C2.53281 18.4234 1.72656 17.2281 1.13594 15.8594C0.545312 14.4906 0.25 13.0375 0.25 11.5C0.25 9.94375 0.545312 8.48594 1.13594 7.12656C1.72656 5.76719 2.53281 4.57656 3.55469 3.55469C4.57656 2.53281 5.77187 1.72656 7.14062 1.13594C8.50937 0.545312 9.9625 0.25 11.5 0.25C13.0562 0.25 14.5141 0.545312 15.8734 1.13594C17.2328 1.72656 18.4234 2.53281 19.4453 3.55469C20.4672 4.57656 21.2734 5.76719 21.8641 7.12656C22.4547 8.48594 22.75 9.94375 22.75 11.5C22.75 13.0375 22.4547 14.4906 21.8641 15.8594C21.2734 17.2281 20.4672 18.4234 19.4453 19.4453C18.4234 20.4672 17.2328 21.2734 15.8734 21.8641C14.5141 22.4547 13.0562 22.75 11.5 22.75ZM11.5 20.4438C11.9875 19.7688 12.4094 19.0656 12.7656 18.3344C13.1219 17.6031 13.4125 16.825 13.6375 16H9.3625C9.5875 16.825 9.87813 17.6031 10.2344 18.3344C10.5906 19.0656 11.0125 19.7688 11.5 20.4438ZM8.575 19.9938C8.2375 19.375 7.94219 18.7328 7.68906 18.0672C7.43594 17.4016 7.225 16.7125 7.05625 16H3.7375C4.28125 16.9375 4.96094 17.7531 5.77656 18.4469C6.59219 19.1406 7.525 19.6563 8.575 19.9938ZM14.425 19.9938C15.475 19.6563 16.4078 19.1406 17.2234 18.4469C18.0391 17.7531 18.7188 16.9375 19.2625 16H15.9437C15.775 16.7125 15.5641 17.4016 15.3109 18.0672C15.0578 18.7328 14.7625 19.375 14.425 19.9938ZM2.78125 13.75H6.60625C6.55 13.375 6.50781 13.0047 6.47969 12.6391C6.45156 12.2734 6.4375 11.8938 6.4375 11.5C6.4375 11.1062 6.45156 10.7266 6.47969 10.3609C6.50781 9.99531 6.55 9.625 6.60625 9.25H2.78125C2.6875 9.625 2.61719 9.99531 2.57031 10.3609C2.52344 10.7266 2.5 11.1062 2.5 11.5C2.5 11.8938 2.52344 12.2734 2.57031 12.6391C2.61719 13.0047 2.6875 13.375 2.78125 13.75ZM8.85625 13.75H14.1438C14.2 13.375 14.2422 13.0047 14.2703 12.6391C14.2984 12.2734 14.3125 11.8938 14.3125 11.5C14.3125 11.1062 14.2984 10.7266 14.2703 10.3609C14.2422 9.99531 14.2 9.625 14.1438 9.25H8.85625C8.8 9.625 8.75781 9.99531 8.72969 10.3609C8.70156 10.7266 8.6875 11.1062 8.6875 11.5C8.6875 11.8938 8.70156 12.2734 8.72969 12.6391C8.75781 13.0047 8.8 13.375 8.85625 13.75ZM16.3938 13.75H20.2188C20.3125 13.375 20.3828 13.0047 20.4297 12.6391C20.4766 12.2734 20.5 11.8938 20.5 11.5C20.5 11.1062 20.4766 10.7266 20.4297 10.3609C20.3828 9.99531 20.3125 9.625 20.2188 9.25H16.3938C16.45 9.625 16.4922 9.99531 16.5203 10.3609C16.5484 10.7266 16.5625 11.1062 16.5625 11.5C16.5625 11.8938 16.5484 12.2734 16.5203 12.6391C16.4922 13.0047 16.45 13.375 16.3938 13.75ZM15.9437 7H19.2625C18.7188 6.0625 18.0391 5.24688 17.2234 4.55312C16.4078 3.85938 15.475 3.34375 14.425 3.00625C14.7625 3.625 15.0578 4.26719 15.3109 4.93281C15.5641 5.59844 15.775 6.2875 15.9437 7ZM9.3625 7H13.6375C13.4125 6.175 13.1219 5.39687 12.7656 4.66563C12.4094 3.93437 11.9875 3.23125 11.5 2.55625C11.0125 3.23125 10.5906 3.93437 10.2344 4.66563C9.87813 5.39687 9.5875 6.175 9.3625 7ZM3.7375 7H7.05625C7.225 6.2875 7.43594 5.59844 7.68906 4.93281C7.94219 4.26719 8.2375 3.625 8.575 3.00625C7.525 3.34375 6.59219 3.85938 5.77656 4.55312C4.96094 5.24688 4.28125 6.0625 3.7375 7Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.0364 20.8808L11.9019 13.7461C11.3439 14.1782 10.7004 14.5211 9.97144 14.7746C9.24244 15.0281 8.46319 15.1548 7.63369 15.1548C5.54944 15.1548 3.78385 14.4314 2.33691 12.9844C0.889973 11.5373 0.166504 9.77171 0.166504 7.68765C0.166504 5.60358 0.889973 3.83799 2.33691 2.39086C3.78385 0.943927 5.54944 0.220459 7.63369 0.220459C9.71775 0.220459 11.4833 0.943927 12.9302 2.39086C14.3773 3.83799 15.1009 5.60358 15.1009 7.68765C15.1009 8.52165 14.9741 9.3009 14.7206 10.0254C14.4669 10.7499 14.1241 11.3889 13.6921 11.9424L20.8333 19.0904L19.0364 20.8808ZM7.63369 12.5955C8.99944 12.5955 10.1588 12.1189 11.1119 11.1659C12.065 10.213 12.5415 9.05358 12.5415 7.68765C12.5415 6.32171 12.065 5.1623 11.1119 4.20943C10.1588 3.25637 8.99944 2.77983 7.63369 2.77983C6.26775 2.77983 5.10825 3.25637 4.15519 4.20943C3.20232 5.1623 2.72588 6.32171 2.72588 7.68765C2.72588 9.05358 3.20232 10.213 4.15519 11.1659C5.10825 12.1189 6.26775 12.5955 7.63369 12.5955Z' fill='white'/%3E%3C/svg%3E%0A");
}

/****************************** 아래로 스크롤 내릴 때 header가 사라짐 ******************************/
header.fixed.gnb_up {
    top: var(--header-h-m);
}
header.fixed.gnb_up.menu_over {
    top: 0;
}


/****************************** header에 fixed 클래스 추가 : 시작 ******************************/
header.fixed,
header.menu_over {
    background-color: #fff;
    color: var(--tit-color);
    border-bottom: 1px solid #ccc;
}

header.fixed .logo a,
header.menu_over .logo a {
    background-image: url(../images/common/logo_c.png);
}
header.fixed .util .mypage,
header.menu_over .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 11C9.4875 11 8.19271 10.4615 7.11562 9.38437C6.03854 8.30729 5.5 7.0125 5.5 5.5C5.5 3.9875 6.03854 2.69271 7.11562 1.61562C8.19271 0.538542 9.4875 0 11 0C12.5125 0 13.8073 0.538542 14.8844 1.61562C15.9615 2.69271 16.5 3.9875 16.5 5.5C16.5 7.0125 15.9615 8.30729 14.8844 9.38437C13.8073 10.4615 12.5125 11 11 11ZM0 22V18.15C0 17.3708 0.200521 16.6547 0.601562 16.0016C1.0026 15.3484 1.53542 14.85 2.2 14.5062C3.62083 13.7958 5.06458 13.263 6.53125 12.9078C7.99792 12.5526 9.4875 12.375 11 12.375C12.5125 12.375 14.0021 12.5526 15.4687 12.9078C16.9354 13.263 18.3792 13.7958 19.8 14.5062C20.4646 14.85 20.9974 15.3484 21.3984 16.0016C21.7995 16.6547 22 17.3708 22 18.15V22H0ZM2.75 19.25H19.25V18.15C19.25 17.8979 19.187 17.6687 19.0609 17.4625C18.9349 17.2562 18.7687 17.0958 18.5625 16.9812C17.325 16.3625 16.076 15.8984 14.8156 15.5891C13.5552 15.2797 12.2833 15.125 11 15.125C9.71667 15.125 8.44479 15.2797 7.18437 15.5891C5.92396 15.8984 4.675 16.3625 3.4375 16.9812C3.23125 17.0958 3.0651 17.2562 2.93906 17.4625C2.81302 17.6687 2.75 17.8979 2.75 18.15V19.25ZM11 8.25C11.7562 8.25 12.4036 7.98073 12.9422 7.44219C13.4807 6.90365 13.75 6.25625 13.75 5.5C13.75 4.74375 13.4807 4.09635 12.9422 3.55781C12.4036 3.01927 11.7562 2.75 11 2.75C10.2437 2.75 9.59635 3.01927 9.05781 3.55781C8.51927 4.09635 8.25 4.74375 8.25 5.5C8.25 6.25625 8.51927 6.90365 9.05781 7.44219C9.59635 7.98073 10.2437 8.25 11 8.25Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}
header.fixed .util .lang .lang_open,
header.menu_over .util .lang .lang_open {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 22.75C9.9625 22.75 8.50937 22.4547 7.14062 21.8641C5.77187 21.2734 4.57656 20.4672 3.55469 19.4453C2.53281 18.4234 1.72656 17.2281 1.13594 15.8594C0.545312 14.4906 0.25 13.0375 0.25 11.5C0.25 9.94375 0.545312 8.48594 1.13594 7.12656C1.72656 5.76719 2.53281 4.57656 3.55469 3.55469C4.57656 2.53281 5.77187 1.72656 7.14062 1.13594C8.50937 0.545312 9.9625 0.25 11.5 0.25C13.0562 0.25 14.5141 0.545312 15.8734 1.13594C17.2328 1.72656 18.4234 2.53281 19.4453 3.55469C20.4672 4.57656 21.2734 5.76719 21.8641 7.12656C22.4547 8.48594 22.75 9.94375 22.75 11.5C22.75 13.0375 22.4547 14.4906 21.8641 15.8594C21.2734 17.2281 20.4672 18.4234 19.4453 19.4453C18.4234 20.4672 17.2328 21.2734 15.8734 21.8641C14.5141 22.4547 13.0562 22.75 11.5 22.75ZM11.5 20.4438C11.9875 19.7688 12.4094 19.0656 12.7656 18.3344C13.1219 17.6031 13.4125 16.825 13.6375 16H9.3625C9.5875 16.825 9.87813 17.6031 10.2344 18.3344C10.5906 19.0656 11.0125 19.7688 11.5 20.4438ZM8.575 19.9938C8.2375 19.375 7.94219 18.7328 7.68906 18.0672C7.43594 17.4016 7.225 16.7125 7.05625 16H3.7375C4.28125 16.9375 4.96094 17.7531 5.77656 18.4469C6.59219 19.1406 7.525 19.6563 8.575 19.9938ZM14.425 19.9938C15.475 19.6563 16.4078 19.1406 17.2234 18.4469C18.0391 17.7531 18.7188 16.9375 19.2625 16H15.9437C15.775 16.7125 15.5641 17.4016 15.3109 18.0672C15.0578 18.7328 14.7625 19.375 14.425 19.9938ZM2.78125 13.75H6.60625C6.55 13.375 6.50781 13.0047 6.47969 12.6391C6.45156 12.2734 6.4375 11.8938 6.4375 11.5C6.4375 11.1062 6.45156 10.7266 6.47969 10.3609C6.50781 9.99531 6.55 9.625 6.60625 9.25H2.78125C2.6875 9.625 2.61719 9.99531 2.57031 10.3609C2.52344 10.7266 2.5 11.1062 2.5 11.5C2.5 11.8938 2.52344 12.2734 2.57031 12.6391C2.61719 13.0047 2.6875 13.375 2.78125 13.75ZM8.85625 13.75H14.1438C14.2 13.375 14.2422 13.0047 14.2703 12.6391C14.2984 12.2734 14.3125 11.8938 14.3125 11.5C14.3125 11.1062 14.2984 10.7266 14.2703 10.3609C14.2422 9.99531 14.2 9.625 14.1438 9.25H8.85625C8.8 9.625 8.75781 9.99531 8.72969 10.3609C8.70156 10.7266 8.6875 11.1062 8.6875 11.5C8.6875 11.8938 8.70156 12.2734 8.72969 12.6391C8.75781 13.0047 8.8 13.375 8.85625 13.75ZM16.3938 13.75H20.2188C20.3125 13.375 20.3828 13.0047 20.4297 12.6391C20.4766 12.2734 20.5 11.8938 20.5 11.5C20.5 11.1062 20.4766 10.7266 20.4297 10.3609C20.3828 9.99531 20.3125 9.625 20.2188 9.25H16.3938C16.45 9.625 16.4922 9.99531 16.5203 10.3609C16.5484 10.7266 16.5625 11.1062 16.5625 11.5C16.5625 11.8938 16.5484 12.2734 16.5203 12.6391C16.4922 13.0047 16.45 13.375 16.3938 13.75ZM15.9437 7H19.2625C18.7188 6.0625 18.0391 5.24688 17.2234 4.55312C16.4078 3.85938 15.475 3.34375 14.425 3.00625C14.7625 3.625 15.0578 4.26719 15.3109 4.93281C15.5641 5.59844 15.775 6.2875 15.9437 7ZM9.3625 7H13.6375C13.4125 6.175 13.1219 5.39687 12.7656 4.66563C12.4094 3.93437 11.9875 3.23125 11.5 2.55625C11.0125 3.23125 10.5906 3.93437 10.2344 4.66563C9.87813 5.39687 9.5875 6.175 9.3625 7ZM3.7375 7H7.05625C7.225 6.2875 7.43594 5.59844 7.68906 4.93281C7.94219 4.26719 8.2375 3.625 8.575 3.00625C7.525 3.34375 6.59219 3.85938 5.77656 4.55312C4.96094 5.24688 4.28125 6.0625 3.7375 7Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}
header.fixed .util .search .search_open,
header.menu_over .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.0364 20.8808L11.9019 13.7461C11.3439 14.1782 10.7004 14.5211 9.97144 14.7746C9.24244 15.0281 8.46319 15.1548 7.63369 15.1548C5.54944 15.1548 3.78385 14.4314 2.33691 12.9844C0.889973 11.5373 0.166504 9.77171 0.166504 7.68765C0.166504 5.60358 0.889973 3.83799 2.33691 2.39086C3.78385 0.943927 5.54944 0.220459 7.63369 0.220459C9.71775 0.220459 11.4833 0.943927 12.9302 2.39086C14.3773 3.83799 15.1009 5.60358 15.1009 7.68765C15.1009 8.52165 14.9741 9.3009 14.7206 10.0254C14.4669 10.7499 14.1241 11.3889 13.6921 11.9424L20.8333 19.0904L19.0364 20.8808ZM7.63369 12.5955C8.99944 12.5955 10.1588 12.1189 11.1119 11.1659C12.065 10.213 12.5415 9.05358 12.5415 7.68765C12.5415 6.32171 12.065 5.1623 11.1119 4.20943C10.1588 3.25637 8.99944 2.77983 7.63369 2.77983C6.26775 2.77983 5.10825 3.25637 4.15519 4.20943C3.20232 5.1623 2.72588 6.32171 2.72588 7.68765C2.72588 9.05358 3.20232 10.213 4.15519 11.1659C5.10825 12.1189 6.26775 12.5955 7.63369 12.5955Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}
/****************************** header에 fixed 클래스 추가 : 끝 ******************************/

@media screen and (min-width:1025px){
    header .gnb .gnb_bg,
    header .gnb .gnb_util,
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 0 40px;
        line-height: var(--header-h);
        font-size: var(--sub-tit-size);
        font-weight: var(--bold-weight);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--main-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative; /* before */
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span::before {
        position: absolute; /* span */
        content: "";
        top: -8px;
        left: -9px;
        width: 8px;
        height: 8px;
        background-color: var(--main-color);
        border-radius: 50%;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none !important;
        justify-content: center;
        align-items: center;
        gap: 55px;
        position: absolute; /* header */
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 106px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top: transparent;
        border-radius: 0 0 35px 35px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        position: relative; /* before */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: var(--bold-weight);
        color: var(--main-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li:hover > a::before {
        content: "";
        position: absolute; /* a */
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--main-color);
    }


/****************************** menu_over 추가 : 시작 ******************************/
    header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: flex !important; /* 나타남 */
    }
/****************************** menu_over 추가 : 끝 ******************************/

    /********** 배경이 흰색이 되었을 때 *********/
    body.fp-responsive header.fixed {
        background-color: #fff;
    }
    body.bg_w header,
    body.fp-responsive header.fixed {
        box-shadow: 3px 5px 10px 0 rgba(0,0,0,0.05);
    }
    body.bg_w header .logo a,
    body.fp-responsive header.fixed .logo a {
        background-image: url(../images/common/logo_c.png);
    }
    body.bg_w header .gnb .gnb_wrap ul.depth1 > li > a,
    body.fp-responsive header.fixed .gnb .gnb_wrap ul.depth1 > li > a {
        color: var(--tit-color);
    }
    body.bg_w header .gnb .gnb_wrap ul.depth1 > li.over > a,
    body.fp-responsive header.fixed .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--main-color);
    }
    body.bg_w header .util .mypage,
    body.fp-responsive header.fixed .util .mypage {
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 11C9.4875 11 8.19271 10.4615 7.11562 9.38437C6.03854 8.30729 5.5 7.0125 5.5 5.5C5.5 3.9875 6.03854 2.69271 7.11562 1.61562C8.19271 0.538542 9.4875 0 11 0C12.5125 0 13.8073 0.538542 14.8844 1.61562C15.9615 2.69271 16.5 3.9875 16.5 5.5C16.5 7.0125 15.9615 8.30729 14.8844 9.38437C13.8073 10.4615 12.5125 11 11 11ZM0 22V18.15C0 17.3708 0.200521 16.6547 0.601562 16.0016C1.0026 15.3484 1.53542 14.85 2.2 14.5062C3.62083 13.7958 5.06458 13.263 6.53125 12.9078C7.99792 12.5526 9.4875 12.375 11 12.375C12.5125 12.375 14.0021 12.5526 15.4687 12.9078C16.9354 13.263 18.3792 13.7958 19.8 14.5062C20.4646 14.85 20.9974 15.3484 21.3984 16.0016C21.7995 16.6547 22 17.3708 22 18.15V22H0ZM2.75 19.25H19.25V18.15C19.25 17.8979 19.187 17.6687 19.0609 17.4625C18.9349 17.2562 18.7687 17.0958 18.5625 16.9812C17.325 16.3625 16.076 15.8984 14.8156 15.5891C13.5552 15.2797 12.2833 15.125 11 15.125C9.71667 15.125 8.44479 15.2797 7.18437 15.5891C5.92396 15.8984 4.675 16.3625 3.4375 16.9812C3.23125 17.0958 3.0651 17.2562 2.93906 17.4625C2.81302 17.6687 2.75 17.8979 2.75 18.15V19.25ZM11 8.25C11.7562 8.25 12.4036 7.98073 12.9422 7.44219C13.4807 6.90365 13.75 6.25625 13.75 5.5C13.75 4.74375 13.4807 4.09635 12.9422 3.55781C12.4036 3.01927 11.7562 2.75 11 2.75C10.2437 2.75 9.59635 3.01927 9.05781 3.55781C8.51927 4.09635 8.25 4.74375 8.25 5.5C8.25 6.25625 8.51927 6.90365 9.05781 7.44219C9.59635 7.98073 10.2437 8.25 11 8.25Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    }
    body.bg_w header .util .lang .lang_open,
    body.fp-responsive header.fixed .util .lang .lang_open {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 22.75C9.9625 22.75 8.50937 22.4547 7.14062 21.8641C5.77187 21.2734 4.57656 20.4672 3.55469 19.4453C2.53281 18.4234 1.72656 17.2281 1.13594 15.8594C0.545312 14.4906 0.25 13.0375 0.25 11.5C0.25 9.94375 0.545312 8.48594 1.13594 7.12656C1.72656 5.76719 2.53281 4.57656 3.55469 3.55469C4.57656 2.53281 5.77187 1.72656 7.14062 1.13594C8.50937 0.545312 9.9625 0.25 11.5 0.25C13.0562 0.25 14.5141 0.545312 15.8734 1.13594C17.2328 1.72656 18.4234 2.53281 19.4453 3.55469C20.4672 4.57656 21.2734 5.76719 21.8641 7.12656C22.4547 8.48594 22.75 9.94375 22.75 11.5C22.75 13.0375 22.4547 14.4906 21.8641 15.8594C21.2734 17.2281 20.4672 18.4234 19.4453 19.4453C18.4234 20.4672 17.2328 21.2734 15.8734 21.8641C14.5141 22.4547 13.0562 22.75 11.5 22.75ZM11.5 20.4438C11.9875 19.7688 12.4094 19.0656 12.7656 18.3344C13.1219 17.6031 13.4125 16.825 13.6375 16H9.3625C9.5875 16.825 9.87813 17.6031 10.2344 18.3344C10.5906 19.0656 11.0125 19.7688 11.5 20.4438ZM8.575 19.9938C8.2375 19.375 7.94219 18.7328 7.68906 18.0672C7.43594 17.4016 7.225 16.7125 7.05625 16H3.7375C4.28125 16.9375 4.96094 17.7531 5.77656 18.4469C6.59219 19.1406 7.525 19.6563 8.575 19.9938ZM14.425 19.9938C15.475 19.6563 16.4078 19.1406 17.2234 18.4469C18.0391 17.7531 18.7188 16.9375 19.2625 16H15.9437C15.775 16.7125 15.5641 17.4016 15.3109 18.0672C15.0578 18.7328 14.7625 19.375 14.425 19.9938ZM2.78125 13.75H6.60625C6.55 13.375 6.50781 13.0047 6.47969 12.6391C6.45156 12.2734 6.4375 11.8938 6.4375 11.5C6.4375 11.1062 6.45156 10.7266 6.47969 10.3609C6.50781 9.99531 6.55 9.625 6.60625 9.25H2.78125C2.6875 9.625 2.61719 9.99531 2.57031 10.3609C2.52344 10.7266 2.5 11.1062 2.5 11.5C2.5 11.8938 2.52344 12.2734 2.57031 12.6391C2.61719 13.0047 2.6875 13.375 2.78125 13.75ZM8.85625 13.75H14.1438C14.2 13.375 14.2422 13.0047 14.2703 12.6391C14.2984 12.2734 14.3125 11.8938 14.3125 11.5C14.3125 11.1062 14.2984 10.7266 14.2703 10.3609C14.2422 9.99531 14.2 9.625 14.1438 9.25H8.85625C8.8 9.625 8.75781 9.99531 8.72969 10.3609C8.70156 10.7266 8.6875 11.1062 8.6875 11.5C8.6875 11.8938 8.70156 12.2734 8.72969 12.6391C8.75781 13.0047 8.8 13.375 8.85625 13.75ZM16.3938 13.75H20.2188C20.3125 13.375 20.3828 13.0047 20.4297 12.6391C20.4766 12.2734 20.5 11.8938 20.5 11.5C20.5 11.1062 20.4766 10.7266 20.4297 10.3609C20.3828 9.99531 20.3125 9.625 20.2188 9.25H16.3938C16.45 9.625 16.4922 9.99531 16.5203 10.3609C16.5484 10.7266 16.5625 11.1062 16.5625 11.5C16.5625 11.8938 16.5484 12.2734 16.5203 12.6391C16.4922 13.0047 16.45 13.375 16.3938 13.75ZM15.9437 7H19.2625C18.7188 6.0625 18.0391 5.24688 17.2234 4.55312C16.4078 3.85938 15.475 3.34375 14.425 3.00625C14.7625 3.625 15.0578 4.26719 15.3109 4.93281C15.5641 5.59844 15.775 6.2875 15.9437 7ZM9.3625 7H13.6375C13.4125 6.175 13.1219 5.39687 12.7656 4.66563C12.4094 3.93437 11.9875 3.23125 11.5 2.55625C11.0125 3.23125 10.5906 3.93437 10.2344 4.66563C9.87813 5.39687 9.5875 6.175 9.3625 7ZM3.7375 7H7.05625C7.225 6.2875 7.43594 5.59844 7.68906 4.93281C7.94219 4.26719 8.2375 3.625 8.575 3.00625C7.525 3.34375 6.59219 3.85938 5.77656 4.55312C4.96094 5.24688 4.28125 6.0625 3.7375 7Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    }
    body.bg_w header .util .search .search_open,
    body.fp-responsive header.fixed .util .search .search_open {
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.0364 20.8808L11.9019 13.7461C11.3439 14.1782 10.7004 14.5211 9.97144 14.7746C9.24244 15.0281 8.46319 15.1548 7.63369 15.1548C5.54944 15.1548 3.78385 14.4314 2.33691 12.9844C0.889973 11.5373 0.166504 9.77171 0.166504 7.68765C0.166504 5.60358 0.889973 3.83799 2.33691 2.39086C3.78385 0.943927 5.54944 0.220459 7.63369 0.220459C9.71775 0.220459 11.4833 0.943927 12.9302 2.39086C14.3773 3.83799 15.1009 5.60358 15.1009 7.68765C15.1009 8.52165 14.9741 9.3009 14.7206 10.0254C14.4669 10.7499 14.1241 11.3889 13.6921 11.9424L20.8333 19.0904L19.0364 20.8808ZM7.63369 12.5955C8.99944 12.5955 10.1588 12.1189 11.1119 11.1659C12.065 10.213 12.5415 9.05358 12.5415 7.68765C12.5415 6.32171 12.065 5.1623 11.1119 4.20943C10.1588 3.25637 8.99944 2.77983 7.63369 2.77983C6.26775 2.77983 5.10825 3.25637 4.15519 4.20943C3.20232 5.1623 2.72588 6.32171 2.72588 7.68765C2.72588 9.05358 3.20232 10.213 4.15519 11.1659C5.10825 12.1189 6.26775 12.5955 7.63369 12.5955Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    }

}/*@media*/


@media screen and (min-width:1024px) and (max-width:1222px){
    header .gnb .gnb_wrap ul.depth1 > li > a {
        padding: 0 31px;
    }
}/*@media*/
/************************************* 모바일 시작 *************************************/
@media screen and (max-width:1024px){
            header {
                padding-right: 0;
            }
            header .logo a {
                width: 93px;
                height: 30px;
            }
            header .util {
                display: none;
            }
            header .gnb .gnb_util {
                display: none;
                position: absolute; /* gnb_wrap */
                left: 20px;
                top: 13px;
                gap: 2px;
            }
            header .gnb .gnb_wrap .gnb_util .mypage,
            header .gnb .gnb_wrap .gnb_util .lang .lang_open,
            header .gnb .gnb_wrap .gnb_util .search .search_open {
                display: block;
                width: 30px;
                height: 30px;
                background-position: center center;
                background-repeat: no-repeat;
            }
            header .gnb .gnb_wrap .gnb_util .mypage {
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 11C9.4875 11 8.19271 10.4615 7.11562 9.38437C6.03854 8.30729 5.5 7.0125 5.5 5.5C5.5 3.9875 6.03854 2.69271 7.11562 1.61562C8.19271 0.538542 9.4875 0 11 0C12.5125 0 13.8073 0.538542 14.8844 1.61562C15.9615 2.69271 16.5 3.9875 16.5 5.5C16.5 7.0125 15.9615 8.30729 14.8844 9.38437C13.8073 10.4615 12.5125 11 11 11ZM0 22V18.15C0 17.3708 0.200521 16.6547 0.601562 16.0016C1.0026 15.3484 1.53542 14.85 2.2 14.5062C3.62083 13.7958 5.06458 13.263 6.53125 12.9078C7.99792 12.5526 9.4875 12.375 11 12.375C12.5125 12.375 14.0021 12.5526 15.4687 12.9078C16.9354 13.263 18.3792 13.7958 19.8 14.5062C20.4646 14.85 20.9974 15.3484 21.3984 16.0016C21.7995 16.6547 22 17.3708 22 18.15V22H0ZM2.75 19.25H19.25V18.15C19.25 17.8979 19.187 17.6687 19.0609 17.4625C18.9349 17.2562 18.7687 17.0958 18.5625 16.9812C17.325 16.3625 16.076 15.8984 14.8156 15.5891C13.5552 15.2797 12.2833 15.125 11 15.125C9.71667 15.125 8.44479 15.2797 7.18437 15.5891C5.92396 15.8984 4.675 16.3625 3.4375 16.9812C3.23125 17.0958 3.0651 17.2562 2.93906 17.4625C2.81302 17.6687 2.75 17.8979 2.75 18.15V19.25ZM11 8.25C11.7562 8.25 12.4036 7.98073 12.9422 7.44219C13.4807 6.90365 13.75 6.25625 13.75 5.5C13.75 4.74375 13.4807 4.09635 12.9422 3.55781C12.4036 3.01927 11.7562 2.75 11 2.75C10.2437 2.75 9.59635 3.01927 9.05781 3.55781C8.51927 4.09635 8.25 4.74375 8.25 5.5C8.25 6.25625 8.51927 6.90365 9.05781 7.44219C9.59635 7.98073 10.2437 8.25 11 8.25Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap .gnb_util .lang .lang_open {
                background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 22.75C9.9625 22.75 8.50937 22.4547 7.14062 21.8641C5.77187 21.2734 4.57656 20.4672 3.55469 19.4453C2.53281 18.4234 1.72656 17.2281 1.13594 15.8594C0.545312 14.4906 0.25 13.0375 0.25 11.5C0.25 9.94375 0.545312 8.48594 1.13594 7.12656C1.72656 5.76719 2.53281 4.57656 3.55469 3.55469C4.57656 2.53281 5.77187 1.72656 7.14062 1.13594C8.50937 0.545312 9.9625 0.25 11.5 0.25C13.0562 0.25 14.5141 0.545312 15.8734 1.13594C17.2328 1.72656 18.4234 2.53281 19.4453 3.55469C20.4672 4.57656 21.2734 5.76719 21.8641 7.12656C22.4547 8.48594 22.75 9.94375 22.75 11.5C22.75 13.0375 22.4547 14.4906 21.8641 15.8594C21.2734 17.2281 20.4672 18.4234 19.4453 19.4453C18.4234 20.4672 17.2328 21.2734 15.8734 21.8641C14.5141 22.4547 13.0562 22.75 11.5 22.75ZM11.5 20.4438C11.9875 19.7688 12.4094 19.0656 12.7656 18.3344C13.1219 17.6031 13.4125 16.825 13.6375 16H9.3625C9.5875 16.825 9.87813 17.6031 10.2344 18.3344C10.5906 19.0656 11.0125 19.7688 11.5 20.4438ZM8.575 19.9938C8.2375 19.375 7.94219 18.7328 7.68906 18.0672C7.43594 17.4016 7.225 16.7125 7.05625 16H3.7375C4.28125 16.9375 4.96094 17.7531 5.77656 18.4469C6.59219 19.1406 7.525 19.6563 8.575 19.9938ZM14.425 19.9938C15.475 19.6563 16.4078 19.1406 17.2234 18.4469C18.0391 17.7531 18.7188 16.9375 19.2625 16H15.9437C15.775 16.7125 15.5641 17.4016 15.3109 18.0672C15.0578 18.7328 14.7625 19.375 14.425 19.9938ZM2.78125 13.75H6.60625C6.55 13.375 6.50781 13.0047 6.47969 12.6391C6.45156 12.2734 6.4375 11.8938 6.4375 11.5C6.4375 11.1062 6.45156 10.7266 6.47969 10.3609C6.50781 9.99531 6.55 9.625 6.60625 9.25H2.78125C2.6875 9.625 2.61719 9.99531 2.57031 10.3609C2.52344 10.7266 2.5 11.1062 2.5 11.5C2.5 11.8938 2.52344 12.2734 2.57031 12.6391C2.61719 13.0047 2.6875 13.375 2.78125 13.75ZM8.85625 13.75H14.1438C14.2 13.375 14.2422 13.0047 14.2703 12.6391C14.2984 12.2734 14.3125 11.8938 14.3125 11.5C14.3125 11.1062 14.2984 10.7266 14.2703 10.3609C14.2422 9.99531 14.2 9.625 14.1438 9.25H8.85625C8.8 9.625 8.75781 9.99531 8.72969 10.3609C8.70156 10.7266 8.6875 11.1062 8.6875 11.5C8.6875 11.8938 8.70156 12.2734 8.72969 12.6391C8.75781 13.0047 8.8 13.375 8.85625 13.75ZM16.3938 13.75H20.2188C20.3125 13.375 20.3828 13.0047 20.4297 12.6391C20.4766 12.2734 20.5 11.8938 20.5 11.5C20.5 11.1062 20.4766 10.7266 20.4297 10.3609C20.3828 9.99531 20.3125 9.625 20.2188 9.25H16.3938C16.45 9.625 16.4922 9.99531 16.5203 10.3609C16.5484 10.7266 16.5625 11.1062 16.5625 11.5C16.5625 11.8938 16.5484 12.2734 16.5203 12.6391C16.4922 13.0047 16.45 13.375 16.3938 13.75ZM15.9437 7H19.2625C18.7188 6.0625 18.0391 5.24688 17.2234 4.55312C16.4078 3.85938 15.475 3.34375 14.425 3.00625C14.7625 3.625 15.0578 4.26719 15.3109 4.93281C15.5641 5.59844 15.775 6.2875 15.9437 7ZM9.3625 7H13.6375C13.4125 6.175 13.1219 5.39687 12.7656 4.66563C12.4094 3.93437 11.9875 3.23125 11.5 2.55625C11.0125 3.23125 10.5906 3.93437 10.2344 4.66563C9.87813 5.39687 9.5875 6.175 9.3625 7ZM3.7375 7H7.05625C7.225 6.2875 7.43594 5.59844 7.68906 4.93281C7.94219 4.26719 8.2375 3.625 8.575 3.00625C7.525 3.34375 6.59219 3.85938 5.77656 4.55312C4.96094 5.24688 4.28125 6.0625 3.7375 7Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap .gnb_util .search .search_open {
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.0364 20.8808L11.9019 13.7461C11.3439 14.1782 10.7004 14.5211 9.97144 14.7746C9.24244 15.0281 8.46319 15.1548 7.63369 15.1548C5.54944 15.1548 3.78385 14.4314 2.33691 12.9844C0.889973 11.5373 0.166504 9.77171 0.166504 7.68765C0.166504 5.60358 0.889973 3.83799 2.33691 2.39086C3.78385 0.943927 5.54944 0.220459 7.63369 0.220459C9.71775 0.220459 11.4833 0.943927 12.9302 2.39086C14.3773 3.83799 15.1009 5.60358 15.1009 7.68765C15.1009 8.52165 14.9741 9.3009 14.7206 10.0254C14.4669 10.7499 14.1241 11.3889 13.6921 11.9424L20.8333 19.0904L19.0364 20.8808ZM7.63369 12.5955C8.99944 12.5955 10.1588 12.1189 11.1119 11.1659C12.065 10.213 12.5415 9.05358 12.5415 7.68765C12.5415 6.32171 12.065 5.1623 11.1119 4.20943C10.1588 3.25637 8.99944 2.77983 7.63369 2.77983C6.26775 2.77983 5.10825 3.25637 4.15519 4.20943C3.20232 5.1623 2.72588 6.32171 2.72588 7.68765C2.72588 9.05358 3.20232 10.213 4.15519 11.1659C5.10825 12.1189 6.26775 12.5955 7.63369 12.5955Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_open {
                display: block;
                width: var(--header-h);
                height: var(--header-h);
                background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_140_458' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_140_458)'%3E%3Cpath d='M3.875 9.04134V6.45801H27.125V9.04134H3.875ZM3.875 24.5413V21.958H27.125V24.5413H3.875ZM3.875 16.7913V14.208H27.125V16.7913H3.875Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
            }
            header.fixed .gnb .gnb_open {
                background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_139_99' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_139_99)'%3E%3Cpath d='M3.875 9.04134V6.45801H27.125V9.04134H3.875ZM3.875 24.5413V21.958H27.125V24.5413H3.875ZM3.875 16.7913V14.208H27.125V16.7913H3.875Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap {
                position: fixed;
                right: -100%;
                top: 0;
                z-index: 10;
                width: calc(100% - 43px);
                max-width: 478px;
                height: 100%;
                background-color: #fff;
                color: var(--base-color);
                transition: 0.5s;
            }
            header .gnb .gnb_wrap ul.depth1 {
                margin-top: var(--header-h);
                padding: 0 20px;
                height: calc(100% - var(--header-h));
                overflow-x: hidden;
                overflow-y: auto;
                border-top: 1px solid #E2E2E2;
            }
            header .gnb .gnb_wrap ul.depth1 > li {
                border-bottom: 1px solid #ededed;
            }
            header .gnb .gnb_wrap ul.depth1 > li > a {
                position: relative; /* after */
                display: block;
                font-size: var(--sub-tit-size);
                line-height: var(--tit-line-height);
                padding: 20px 0;
            }
            header .gnb .gnb_wrap ul.depth1 > li > a::after {
                content: "";
                position: absolute; /* a */
                right: 0;
                top: 16px;
                width: 20px;
                height: 20px;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_166_405' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect y='20' width='20' height='20' transform='rotate(-90 0 20)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_166_405)'%3E%3Cpath d='M18.3332 11.6667L9.99984 20L1.6665 11.6667L3.14567 10.1875L9.99984 17.0417L16.854 10.1875L18.3332 11.6667Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                display: none; /* open 클래스 추가 시 나타남 */
                padding: 0 0 20px 9px;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                position: relative; /* before */
                display: block;
                line-height: 2;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a::before {
                content: "";
                position: absolute;
                top: 13px;
                left: -9px;
                width: 5px;
                height: 5px;
                background-color: var(--base-color);
                border-radius: 50%;
            }
            header .gnb .gnb_close {
                display: none;
                position: absolute; /* gnb_wrap */
                top: 0;
                right: 0;
                width: var(--header-h);
                height: var(--header-h);
                background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_144_802' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_144_802)'%3E%3Cpath d='M8.26683 24.5413L6.4585 22.733L13.6918 15.4997L6.4585 8.26634L8.26683 6.45801L15.5002 13.6913L22.7335 6.45801L24.5418 8.26634L17.3085 15.4997L24.5418 22.733L22.7335 24.5413L15.5002 17.308L8.26683 24.5413Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
            }
            header .gnb .gnb_bg {
                display: none;
                position: fixed; /* body */
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.6);
            }
            

            /******** 2차 메뉴가 열렸을 때 ********/
            header .gnb .gnb_wrap ul.depth1 > li.open > a {
                color: var(--main-color);
                font-weight: var(--bold-weight);
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_166_405' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect y='20' width='20' height='20' transform='rotate(-90 0 20)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_166_405)'%3E%3Cpath d='M18.3332 11.6667L9.99984 20L1.6665 11.6667L3.14567 10.1875L9.99984 17.0417L16.854 10.1875L18.3332 11.6667Z' fill='%2300264B'/%3E%3C/g%3E%3C/svg%3E%0A");
                transform: rotate(180deg);
                top: 26px;
            }

            /******** 메뉴 열렸을 때 *******/
            header.menu_open .gnb .gnb_util {
                display: flex;
            }
            header.menu_open .gnb .gnb_wrap {
                right: 0;
            }
            header.menu_open .gnb .gnb_close {
                display: block;
            }
            header.menu_open .gnb .gnb_bg {
                display: block;
                animation-name: gnb_bg;
                animation-duration: 0.5s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
            @keyframes gnb_bg {
                0% { opacity: 0; }
                100% { opacity: 1; }
            }
            
}/*@media*/





footer {
    background-color: #031023;
    color: rgba(255,255,255,0.8);
    padding: 100px 0 181px 0;
}
footer .wrapper {
    position: relative; /* top, f_logo*/
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
}
footer .top {
    display: none;/* 모바일에서 나타남 */
}
footer .family_site {
    position: relative; /* ul */
}
footer .family_site button {
    display: block;
    color: #fff;
    border: 1px solid #fff;
    width: 374px;
    padding: 5px 32px 5px 19px;
    height: 36px; /* ul의 bottom과 같아야함(그래야 페이지 열리고 닫힐 때 딱맞음) */
    position: relative;
}
footer .family_site button::after {
    content: "";
    position: absolute; /* family_open */
    top: 6px;
    right: 13px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_127_715' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect y='20' width='20' height='20' transform='rotate(-90 0 20)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_127_715)'%3E%3Cpath d='M15.8334 6.66634L10.0001 15.833L4.16675 6.66634L15.8334 6.66634Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
footer .family_site button.family_close {
    display: none;
}
footer .family_site button.family_close::after {
    transform: rotate(180deg);
}
footer .family_site .list {
    display: none;
    position: absolute;
    left: 0;
    bottom: 36px;
    width: 100%;
    background-color: #767676;
    padding: 15px;
    color: #fff;
}
footer .family_site.open button.family_open {
    display: none;
}
footer .family_site.open button.family_close {
    display: block;
}
footer .family_site .list ul li a {
    display: block;
    line-height: 2;
}
footer .family_site .list ul li a span {
    position: relative;
}
footer .family_site .list ul li a span::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: 0.5s;
}
footer .family_site .list ul li a:hover span::before {
    width: 100%;
}
footer .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 45px;
}
footer .f_nav ul li {
 position: relative; /* after */
}
footer .f_nav ul li::after {
    content: "";
    position: absolute;
    right: -23px;
    top: 6px;
    width: 1px;
    height: 12px;
    background-color: rgba(255,255,255,0.2);
}
footer .f_nav ul li:last-child:after {
    display: none;
}
footer .f_info {
    margin: 20px 0 47px 0;
}
footer .copyright {
    color: rgba(255,255,255,0.6);
}
footer .f_logo {
    position: absolute; /* wrapper */
    bottom: 0;
    right: 0;
    width: 131px;
    height: 42px;
}
@media screen and (max-width:1024px){
            footer {
                padding: 81px 0 100px 0;
            }
            footer .wrapper {
                display: block;
            }
            footer .top {
                display: block;
                position: absolute; /* wrapper */
                top: -101px;
                right: 0;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #00A5E6;
                background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_140_657' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect x='22.7949' y='0.205078' width='22.5641' height='22.5641' transform='rotate(90 22.7949 0.205078)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_140_657)'%3E%3Cpath d='M5.87188 9.60685L11.5129 3.96582L17.1539 9.60685L15.7907 10.9231L12.4531 7.58548V19.0086L10.5727 19.0086V7.58548L7.23512 10.9231L5.87188 9.60685Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
            }
            footer .family_site button {
                width: 100%;
                margin-bottom: 30px;
            }
            footer .f_nav ul {
                gap: 4px 45px;
            }
            footer .f_info {
                margin: 15px 0 35px 0;
            }
            footer .f_logo {
                position: relative;
                width: 93px;
                height: 30px;
                margin-top: 45px;
            }
}