html, body {
    font-family: "Red Rose", "GmarketSans", serif;
    font-size: 17px;
    font-weight: 500;
    color: #3d3d3d;
    line-height: 1.5;
    word-break: keep-all;
    word-wrap: break-word;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
#wrap {
    position: relative;
    overflow-x: hidden;
    width: 100%;
}



@media screen and (max-width:1300px){
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}
@media screen and (max-width:768px){
            html, body {
                font-size: 16px;
            }
}/*media 꽁다리*/



.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
}


.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.skip_nav a {
    background-color: mediumslateblue;
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
}
.skip_nav a:focus {
    top: 0;
}

/* 변수 */
:root {
    --header-h: 100px; /* header 높이 */
    --header-h-m:-100px;/* header 높이 마이너스값 */
    --tit-color: #1d1d1d;
    --point-color: #441213;
    --dark-color: #231512;
    --right-color: #F0E9DF;
    --bold-weight: 700;
    --base-weight: 500;
    --v_font-size: 4.41rem; /* 75px / 17 */
    --sp-font-size: 2.94rem; /* 50px */
    --tit-font-size: 2.65rem; /* 45px / 17 */
    --ctn-font-size: 1.29rem; /* 22px / 17 */
    --u_ctn-font-size: 1.47rem; /* 25px */
    --tit-line-height: 1.2;

}
@media screen and (max-width:1300px){
    :root {
        --header-h: 56px; /* header 높이 */
        --header-h-m: -56px;

        --v_font-size: 3.24rem; /* 55px / 17 */
        --sp-font-size: 2.35rem; /* 40px */
        --tit-font-size: 2.06rem; /* 35px / 17 */
        --ctn-font-size: 1.24rem; /* 21px / 17 */
        --u_ctn-font-size: 1.35rem; /* 23px */
    }
}
@media screen and (max-width:768px){
    :root {
        --v_font-size: 2.19rem; /* 35px / 16 */
        --tit-font-size: 1.56rem; /* 25px / 16 */
        --ctn-font-size: 1.19rem; /* 19px / 16 */
        --u_ctn-font-size: 1.31rem; /* 21px */
    }
}