@charset "utf-8";

/****************** 공통 ******************/
.more-btn-st1 { display: flex; align-items: center; gap: 10px; width: fit-content; padding: 5px; font-weight: 700; font-size: 18px; }
.more-btn-st2 { display: flex; align-items: center; gap: 20px; width: fit-content; padding: 5px; border: 1px solid #ffffff5b; border-radius: 8px; }
.more-btn-st2 em { padding-left: 15px; font-weight: 600; color: #fff; }
.more-btn-st2 i { position: relative; display: flex; align-items: center; justify-content: center; width: 36px; height: 36px; background: #fff; border-radius: 5px; overflow: hidden; }
.more-btn-st2 i .arr { position: absolute; }
.more-btn-st2 i .arr:last-child { transform: translate(-190%); }



@media only screen and (max-width: 1023px) {
    .section .txt-20 { font-size: 16px; }
    .section .txt-54 { font-size: 36px; }

    .more-btn-st1 { font-size: 16px; }

	.more-btn-st2 { gap: 10px; }
	.more-btn-st2 em { padding-left: 10px; font-size: 14px; }
	.more-btn-st2 i { width: 30px; height: 30px; }
	.more-btn-st2 i .arr svg { width: 14px; }
}



/****************** 메인비주얼 ******************/
.section1 { position: relative; display: flex; height: 63rem; margin-right: 20px; }
.section1 .lf { max-width: 94.5rem; width: 49.22%; margin-right: 3rem; }
.section1 .lf .main-swiper { position: relative; width: 100%; height: 100%; }
.section1 .lf .main-swiper .swiper-slide { display: flex; align-items: center; }
.section1 .lf .main-swiper .swiper-slide .img-wrap { width: 100%; height: 100%; border-radius: 0 4rem 4rem 0; }
.section1 .lf .main-swiper .swiper-slide .img-wrap img { width: 100%; height: 100%; object-fit: cover; opacity: 1; }
.section1 .lf .main-swiper .swiper-slide .txt-wrap { position: absolute; top: 21.84%; left: 7.41%; }
.section1 .lf .main-swiper .swiper-slide .txt-wrap h2 { line-height: 1.2; margin-bottom: 14px;}
.section1 .lf .main-swiper .swiper-slide .txt-wrap h2 span, .section1 .lf .main-swiper .swiper-slide .txt-wrap p span { font-weight: 700; }
.section1 .lf .main-swiper .swiper-slide .txt-wrap h2 strong img { width: 226px; margin-right: 3px; vertical-align: -4px; }
.section1 .lf .main-swiper .swiper-slide .txt-wrap .main-link {  display: flex; gap: 20px; margin-top: 61px; }
.section1 .lf .main-swiper .swiper-slide .txt-wrap .main-link a { position: relative; display: block; width: 255px; padding: 15px 0 15px 30px; color: #fff; background-color: var(--white20); backdrop-filter: blur(8px); border-radius: 40px; }
.section1 .lf .main-swiper .swiper-slide .txt-wrap .main-link a:hover { color: var(--primary900); background-color: #fff; }
.section1 .lf .main-swiper .swiper-slide .txt-wrap .main-link a::after { content: ""; position: absolute; top: 14px; right: 25px; width: 24px; height: 24px; background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_320_6304' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect y='24' width='24' height='24' transform='rotate(-90 0 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_320_6304)'%3E%3Cpath d='M18 12L12 18L10.6 16.6L14.2 13L5 13L5 11L14.2 11L10.6 7.4L12 6L18 12Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A"); }
.section1 .lf .main-swiper .swiper-slide .txt-wrap .main-link a:hover::after { background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_320_6301' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect y='24' width='24' height='24' transform='rotate(-90 0 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_320_6301)'%3E%3Cpath d='M18 12L12 18L10.6 16.6L14.2 13L5 13L5 11L14.2 11L10.6 7.4L12 6L18 12Z' fill='%23013B90'/%3E%3C/g%3E%3C/svg%3E%0A"); }

.section1 .rg { display: flex; justify-content: space-between; flex-direction: column; max-width: 94.5rem; width: 49.22%; }


/*************** up *************/
.section1 .rg .sos, .section1 .rg .notice { width: 100%; height: 30rem; border-radius: 4rem; }
.section1 .rg .sos { text-align: center; padding: 40px 0 25px 0; box-shadow: 0 3px 13px 0 rgba(0,0,0,0.1); }
.section1 .rg .sos h3 { line-height: 1.2; margin: 3px 0 21px; }
.section1 .rg .sos .sub-link ul { display: flex; justify-content: center; align-items: center; gap: 16px; }
.section1 .rg .sos .sub-link ul li { max-width: 118px; width: 31.33%; }
.section1 .rg .sos .sub-link a { display: block; }
.section1 .rg .sos .sub-link a img { width: 7rem; height: 7rem; margin-bottom: 9px; }
.section1 .rg .sos .sub-link a p { color: #002965; }



/*************** down *************/
.section1 .rg .notice { position: relative; padding: 50px 45px 0 45px; background-color: #D8EAFF; }
.section1 .rg .notice h3 { display: flex; align-items: center; gap: 17px; margin-bottom: 25px; }
.section1 .rg .notice > a { position: relative; display: block; padding-left: 26px; }
.section1 .rg .notice > a::before { content: ""; position: absolute; top: 10px; left: 0; width: 6px; height: 6px; background-color: #000; border-radius: 50%; }
.section1 .rg .notice > a p { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; word-break: normal; }
.section1 .rg .notice > a span { color: #555; margin-top: 33px; }
.section1 .rg .notice .more { position: absolute; bottom: 0; right: 0; max-width: 204px; width: 35.36%; padding: 25px 0 25px 4rem; background-color: #fff; border-radius: 40px 0 0 0; }
.section1 .rg .notice .more::before { content: ""; position: absolute; bottom: 0; left: -40px; width: 40px; height: 40px; background: url(../img/common/more_corner.png) no-repeat left bottom / contain; }
.section1 .rg .notice .more::after { content: ""; position: absolute; top: -40px; right: 0; width: 40px; height: 40px; background: url(../img/common/more_corner.png) no-repeat left bottom / contain; }
.section1 .rg .notice .more a { display: block; }
.section1 .rg .notice .more a span { position: relative; padding-right: 68px; }
.section1 .rg .notice .more a span::after { content: ""; position: absolute; top: -15px; right: 0; width: 50px; height: 50px; background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='25' fill='black'/%3E%3Cmask id='mask0_407_55' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='12' y='12' width='26' height='26'%3E%3Crect x='38' y='38' width='26' height='26' transform='rotate(-180 38 38)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_407_55)'%3E%3Cpath d='M27.2186 18.8751L33.3438 25L27.2186 31.1249L26.077 29.95L30.2145 25.8125L16.6561 25.8125L16.6561 24.1875L30.2145 24.1875L26.077 20.05L27.2186 18.8751Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A"); transition: 0.3s; }
.section1 .rg .notice .more a:hover span::after { transform: translateX(10px); }
@media only screen and (max-width: 1023px) {
    .section1 .txt-48 { font-size: 3rem; }
	.section1 .txt-18 { font-size: 16px; }
    .section1 .info-st1 { flex-direction: column; align-items: flex-start; gap: 5px; }
    .section1 .info-st1 li::before { display: none; }
    .section1 .info-st1 li + li { padding-left: 0; }
    .section1 .main-swiper .swiper-slide .txt-wrap .txt-over3 { max-width: 100%; line-height: 1.5; }
    .section1 .thumb-swiper .swiper-slide { width: 80px; border-radius: 3px; }
    .section1 .thumb-swiper .swiper-slide.swiper-slide-thumb-active { width: 100px; }
}



/****************** section2 ******************/
.section2 { position: relative; padding: 40px 0; }
.section2 .inner-padding { display: flex; justify-content: space-between; }
.section2 .sec-tit strong { line-height: 1.2; margin-bottom: 15px; }
.section2 .sec-tit strong span { color: var(--secondary100); }
.section2 .sec-con .quick-link { display: flex; gap: 70px; }
.section2 .sec-con .quick-link li a { position: relative; display: flex; flex-direction: column; align-items: center; }
.section2 .sec-con .quick-link li a .icn { display: flex; justify-content: center; align-items: center; width: 75px; height: 75px; margin-bottom: 30px; background-color: #fff; box-shadow: 0 1px 20px -8px rgba(0,0,0,0.3); border: 2px solid transparent; border-radius: 20px; }
.section2 .sec-con .quick-link li a:hover .icn { background-image: linear-gradient(#fff, #fff), linear-gradient(-216deg, #F8EB48, #0064DD 100%); background-origin: border-box; background-clip: content-box, border-box; }
.section2 .sec-con .quick-link li a .icn img { width: 44px; }
.section2 .sec-con .quick-link li a .txt-wrap { position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); }
.section2 .sec-con .quick-link li a .txt-wrap span { white-space: nowrap; }
.section2 .sec-con .quick-link li a:hover .txt-wrap span { font-weight: 700; }


/****************** section3 ******************/
.section3 { position: relative; padding: 90px 0; background-color: #F1F8FC; }
.section3 .inner-padding { display: flex; justify-content: space-between; gap: 44px; }
.section3 .lf { position: relative; width: 75%; }
.section3 .sec-tit h3 { line-height: 1.2; margin-bottom: 27px; }
.section3 .sec-tit h3 span { color: var(--secondary100); }
.section3 .lf .sec-con ul { display: flex; gap: 24px; }
.section3 .lf .sec-con ul li { width: 33.33%; }
.section3 .lf .sec-con ul li a { display: block; }
.section3 .sec-con a .img-wrap { width: 292px; border-radius: 20px; }
.section3 .sec-con a .img-wrap img { width: 100%; height: 100%; object-fit: cover; transition: 0.3s; }
.section3 .sec-con a:hover .img-wrap img { transform: scale(1.1); }
.section3 .sec-con a p { display: -webkit-box; word-break: normal; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; margin: 20px 0 15px 0; }
.section3 .more { position: absolute; top: 8px; right: 0; }
.section3 .more a i { display: block; width: 40px; height: 40px; }
.section3 .more a i img { width: 100%; height: 100%; object-fit: cover; transition: 0.3s; }
.section3 .more a:hover i img { transform: translateX(5px); }



.section3 .rg { position: relative; width: 25%; }
.section3 .rg .sec-con a { display: block; }


@media only screen and (max-width: 1023px) {
    .section3 { padding: 50px 0; }
    .section3 .sec-tit .flex { margin-top: 20px; }
}





/****************** section4 ******************/
.section4 { padding: 100px 0; background-color: #fff; }
.section4 .flex {  }
.section4 .flex .lf { display: flex; width: 500px; padding-right: 4rem; }
.section4 .flex .lf .sec-tit .more-btn-st1 { margin-top: 30px; }
.section4 .flex .rg { flex-grow: 1; width: calc(100% - 500px); }
.section4 .flex .rg .sec-con { display: flex; }
.section4 .culture-recent { width: 100%; max-width: 450px; }
.section4 .culture-recent .culture-item {  }
.section4 .culture-item { width: 100%; }
.section4 .culture-item .img-wrap img { width: 100%; }
.section4 .culture-item .txt-wrap { padding-top: 20px; }
.section4 .culture-colgroup { display: flex; gap: 6rem; width: calc(100% - 450px); padding-left: 6rem; }
.section4 .culture-colgroup .col { width: calc(50% - 3rem); }
.section4 .culture-colgroup .col:first-child { margin-top: 20rem; }
.section4 .culture-colgroup .col:last-child { margin-top: 10rem; }
.section4 .culture-list .culture-item + .culture-item { margin-top: 7rem; }
@media only screen and (max-width: 1700px) {
    .section4 .flex .lf { width: 400px; }
    .section4 .flex .rg { width: calc(100% - 400px); }
    .section4 .culture-recent { max-width: 350px; }
    .section4 .culture-colgroup { gap: 3rem; width: calc(100% - 350px); padding-left: 3rem; }
    .section4 .culture-colgroup .col { width: calc(50% - 1.5rem); }
}
@media only screen and (max-width: 1200px) {
    .section4 .flex { flex-direction: column; gap: 3rem; }
    .section4 .flex .lf { flex-direction: column; row-gap: 3rem; width: 100%; padding-right: 0; }
    .section4 .flex .rg { width: 100%; }
    .section4 .culture-recent { max-width: 400px; }
    .section4 .culture-colgroup { width: calc(100% - 400px); }
    .section4 .txt-24 { font-size: 2rem; }
}
@media only screen and (max-width: 1023px) {
    .section4 { padding: 80px 0; }
    .section4 .culture-recent { max-width: 50%; }
    .section4 .culture-colgroup { flex-direction: column; width: calc(100% - 50%); }
    .section4 .culture-colgroup .col { width: 100%; }
}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 560px) {
    .section4 .flex .rg .sec-con { flex-direction: column; }
    .section4 .culture-recent { max-width: 100%; }
    .section4 .culture-colgroup { width: 100%; padding-left: 0; }
    .section4 .culture-colgroup .col:first-child { margin-top: 7rem; }
    .section4 .culture-colgroup .col:last-child { margin-top: 7rem; }
}



/****************** section5 ******************/
.section5 .inner-padding { display: flex; }