html, body {
    font-family: "Gmarket Sans", "Pretendard" , serif;
    /*앞에 쓴 서체를 적용하고 지원이 안되면 두번째 서체를 적용*/
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5; /*배수*/
    color: #555;
    word-break: keep-all; /*스페이스기준 단어별로 줄바꿈*/
    word-wrap: break-word; /*단어가 너무 긴경우 강제로 줄바꿈을 주는 방법*/
}
.wrapper {
    width: 1260px;
    margin: 0 auto; /*박스가 가운데*/
}
#wrap {
    position: relative; /*header기준의 정렬*/
    width: 100%;
}
@media screen and (max-width:1300px){ /*20 + 20 = 40 + 1260 = 1300*/
    .wrapper {
        width: auto;
        margin: 0 20px; 
    }
}
@media screen and (max-width:768px){
                        html, body {
                            font-size: 16px;
                        }
}    


.blind { /*글자를 숨겨야하는 경우*/
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
}

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000; /*맨위*/
    width: 100%;
}
.skip_nav a {
    display: block;
    background-color: navy;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;

}
.skip_nav a:focus {
    top: 0;    
}


/* css 변수 */
:root {
    --header-h: 100px; /*header높이*/
    --header-h-m: -100px; /*header높이의 마이너스값*/
    --tit-font-color: #151A33;
    --base-color: #555;
    --point-color: #3BA479;
    --bold-weight: 700;
    --visual-font-size: 3.53rem; /*60 / 17 = 3.53*/
    --tit-font-size: 2.65rem;  /*45 / 17 = 2.65*/
    --tit-line-height: 1.2;
    --sub-font-size: 1.41rem; /*24 / 17 = 1.41*/
}
@media screen and (max-width:1024px) {
    :root {
        --header-h: 56px; /*header높이*/
        --header-h-m: -56px;
        --tit-font-size: 2.06rem;  /*35 / 17 = 2.06*/
        --sub-font-size: 1.35rem; /*23 / 17 = 1.35*/

    }
}
@media screen and (max-width:768px) {
    :root {
        --tit-font-size: 1.88rem; /*30/ 16 = 1.88*/
        --sub-font-size: 1.25rem; /*20 / 16 = 1.25*/
        --visual-font-size: 1.88rem;  /*30/ 16 = 1.88*/


    }
}
