@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);


.visual {
    position: relative;
}
.visual .swiper-slide {
    height: 1000px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual01.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual02.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual03.jpg);
}
.visual .swiper-slide h3 {
    font-size: var(--visual-font-size);
    font-family: 'ChungjuKimSaengTTF';
    text-align: center;
    margin: 428px 0 0 0;
}
.visual .paging {
    position: absolute;/*swiper기준으로 정렬*/
    left: 0;
    bottom: 30px;
    width: 100%;
    z-index: 10;
    display: flex;/*span태그 좌우 배치*/
    justify-content: center;/*가운데*/
    gap: 5px; /*동그라미 사이사이 간격*/
}
.visual .paging .swiper-pagination-bullet { /*동그라미 기본 스타일*/
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0;
    background: none;
    opacity: 1;
}
.visual .paging .swiper-pagination-bullet.swiper-pagination-bullet-active { 
    /*현재 팝업 동그라미*/
    background-color: #fff;
}

@media screen and (max-width:768px) {
                .visual .swiper-slide {
                    height: 800px;
                }
                .visual .swiper-slide h3 {
                    margin: 326px 0 0 0;
                }
                .visual .paging {
                    bottom: 20px;
                }
}
 
.icon {
    height: 170px;
    background-color: var(--point-color);
}
.icon .list ul {
    display: flex;
    justify-content: center;
    color: #fff
}
.icon .list ul li {
    width: 166px;
}
.icon .list ul li a {
    display: block;
    position: relative;
    text-align: center;
    padding: 110px 0 0 0;
} 
.icon .list ul li a::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    right: 0;
    top: 24px; 
    left: 50%;
    transform: translate(-50%);
}
.icon .list ul li.icon1 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='35' cy='35' r='35' fill='%23FEF8E3'/%3E%3Cg clip-path='url(%23clip0_266_2)'%3E%3Cpath d='M49.2239 16.0645C51.8839 16.0645 54.0234 18.1935 54.0234 20.8386C54.0234 23.9354 51.1065 24.9677 49.2239 27.6128C47.3414 25.0322 44.4244 23.9354 44.4244 20.8386C44.4244 18.1935 46.564 16.0645 49.2239 16.0645ZM50.6503 20.8386C50.6503 20.0645 50.0014 19.4193 49.2239 19.4193C48.4465 19.4193 47.7976 20.0645 47.7976 20.8386C47.7976 21.6128 48.4465 22.258 49.2239 22.258C50.0014 22.258 50.6503 21.6128 50.6503 20.8386Z' fill='%23EF727A'/%3E%3Cpath d='M50.0656 46.71C50.5217 46.71 50.9072 47.0971 50.9072 47.5487C50.9072 48.0003 50.5153 48.3874 50.0656 48.3874C49.6158 48.3874 49.2239 48.0003 49.2239 47.5487C49.2881 47.0971 49.6158 46.71 50.0656 46.71Z' fill='%23414A56'/%3E%3Cpath d='M47.6626 46.71C48.1188 46.71 48.5043 47.0971 48.5043 47.5487C48.5043 48.0003 48.1124 48.3874 47.6626 48.3874C47.2128 48.3874 46.8209 48.0003 46.8209 47.5487C46.8209 47.0971 47.2128 46.71 47.6626 46.71Z' fill='%23414A56'/%3E%3Cpath d='M45.2018 46.71C45.658 46.71 46.0435 47.0971 46.0435 47.5487C46.0435 48.0003 45.6515 48.3874 45.2018 48.3874C44.752 48.3874 44.3601 48.0003 44.3601 47.5487C44.4244 47.0971 44.752 46.71 45.2018 46.71Z' fill='%23414A56'/%3E%3Cpath d='M42.7988 46.71C43.255 46.71 43.6405 47.0971 43.6405 47.5487C43.6405 48.0003 43.2486 48.3874 42.7988 48.3874C42.3491 48.3874 41.9572 48.0003 41.9572 47.5487C41.9572 47.0971 42.3491 46.71 42.7988 46.71Z' fill='%23414A56'/%3E%3Cpath d='M40.3317 46.71C40.7878 46.71 41.1734 47.0971 41.1734 47.5487C41.1734 48.0003 40.7814 48.3874 40.3317 48.3874C39.8819 48.3874 39.49 48.0003 39.49 47.5487C39.5542 47.0971 39.8819 46.71 40.3317 46.71Z' fill='%23414A56'/%3E%3Cpath d='M37.9351 46.71C38.3912 46.71 38.7767 47.0971 38.7767 47.5487C38.7767 48.0003 38.3848 48.3874 37.9351 48.3874C37.4853 48.3874 37.0934 48.0003 37.0934 47.5487C37.0934 47.0971 37.4853 46.71 37.9351 46.71Z' fill='%23414A56'/%3E%3Cpath d='M48.832 50.7745H35.4679C35.0117 50.7745 34.6262 50.3874 34.6262 49.9358C34.6262 49.4842 35.0181 49.0971 35.4679 49.0971H48.832C49.8086 49.0971 50.7145 48.71 51.4277 48.0648C52.1409 47.3552 52.4686 46.4519 52.4686 45.4842C52.4686 43.4842 50.8494 41.8713 48.832 41.8713H44.7457C43.5763 41.8713 42.4069 41.4197 41.5653 40.581C40.7236 39.7422 40.2674 38.6455 40.2674 37.4197C40.2674 34.9681 42.2784 32.9681 44.7457 32.9681H45.9793C47.3414 32.9681 48.4465 31.8713 48.4465 30.5164C48.4465 30.0648 48.8384 29.6777 49.2882 29.6777C49.7379 29.6777 50.1298 30.0648 50.1298 30.5164C50.1298 32.71 48.3116 34.581 46.0435 34.581H44.8099C43.2551 34.581 41.9572 35.8713 41.9572 37.4197C41.9572 38.1939 42.2784 38.9035 42.7989 39.4197C43.3193 39.9358 44.0325 40.2584 44.8099 40.2584H48.8962C51.8132 40.2584 54.1519 42.581 54.1519 45.4842C54.1519 46.9035 53.6315 48.1939 52.5971 49.1616C51.5562 50.1939 50.2583 50.7745 48.832 50.7745Z' fill='%2357606F'/%3E%3Cpath d='M16.8417 24.129C16.3855 24.129 16 23.7419 16 23.2903V16.8387C16 16.3871 16.3919 16 16.8417 16H39.5542C40.0104 16 40.3959 16.3871 40.3959 16.8387C40.3959 17.2903 40.004 17.6774 39.5542 17.6774H17.6191V23.3548C17.6191 23.8065 17.2272 24.129 16.8417 24.129Z' fill='%2357606F'/%3E%3Cpath d='M54.1519 53.9997H37.9287C37.4725 53.9997 37.087 53.6126 37.087 53.161C37.087 52.7094 37.479 52.3223 37.9287 52.3223H54.1519C54.6081 52.3223 54.9936 52.7094 54.9936 53.161C54.9294 53.6126 54.5375 53.9997 54.1519 53.9997Z' fill='%23414A56'/%3E%3Cpath d='M35.9883 49.6125C35.9883 47.8061 32.3517 46.3867 27.8799 46.3867C23.4081 46.3867 19.7715 47.8061 19.7715 49.6125C19.7715 51.419 23.4081 52.8383 27.8799 52.8383C32.3517 52.8383 35.9883 51.419 35.9883 49.6125Z' fill='%23D7DEED'/%3E%3Cpath d='M27.8735 48.8383C27.745 48.6448 27.5523 48.4512 27.2888 48.1287C26.8969 47.6125 26.1195 46.7738 25.8625 46.5157C22.0331 42.5158 17.6191 40.0641 17.6191 34.5158C17.6191 28.9674 22.1616 24.3867 27.8093 24.3867C33.4569 24.3867 37.9994 28.9028 37.9994 34.5158C37.9994 40.9674 32.0948 43.1609 27.9442 48.5803C28.0084 48.6448 27.9442 48.7738 27.8799 48.8383H27.8735ZM32.6088 34.5158C32.6088 31.9351 30.4692 29.8061 27.8735 29.8061C25.2778 29.8061 23.1383 31.9351 23.1383 34.5158C23.1383 37.0964 25.2778 39.2254 27.8735 39.2254C30.4692 39.2254 32.6088 37.0964 32.6088 34.5158Z' fill='%23EF727A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_266_2'%3E%3Crect width='39' height='38' fill='white' transform='translate(16 16)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.icon .list ul li.icon2 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='35' cy='35' r='35' fill='%23FEF8E3'/%3E%3Cg clip-path='url(%23clip0_266_3)'%3E%3Cpath d='M48.3049 32.1352C47.0427 32.8904 45.5032 33.3024 43.9636 33.3024C39.1298 33.3024 35.1352 29.3887 35.1352 24.651C35.1352 23.3464 35.4126 22.1792 35.905 21.0806L35.6276 20.9432L27.4997 22.2478C27.4303 22.2478 16.993 19.7073 16.993 19.6387V50.5366L27.4997 53.1457C28.1308 53.0771 37.3752 51.4978 38.0063 51.4292C38.2144 51.4978 48.513 53.9697 48.513 54.0383V32.2038L48.3049 32.1352Z' fill='%2380AF52'/%3E%3Cpath d='M48.3049 32.1353C47.0428 32.8905 45.5032 33.3025 43.9636 33.3025C39.1298 33.3025 35.1352 29.3888 35.1352 24.6511C35.1352 23.3465 35.4126 22.1793 35.905 21.0807L35.6276 20.9434L27.4997 22.2479L23.2277 21.218L23.1583 21.5613L23.0196 22.7286C22.6729 25.3377 20.0792 27.1916 17.4161 26.711L17.0693 26.6423V41.1986L24.8436 41.9539C26.3831 42.0912 27.5066 43.3272 27.5066 44.8377C27.5066 45.5243 27.784 46.211 28.2071 46.7603C28.6301 47.2409 29.2543 47.6529 30.031 47.7215L31.7093 47.9275C32.9021 48.0648 33.88 48.9574 34.1574 50.056L34.5804 51.6353L34.6498 52.0472L38.0826 51.4979L40.607 52.1159L40.7457 51.7039L39.4835 46.1423C39.2755 45.2497 40.2533 44.4944 41.0925 44.9064C41.2312 44.975 41.4392 45.0437 41.5848 45.0437C42.0772 45.0437 42.632 44.7004 42.7083 44.1511C42.847 43.3272 43.3394 42.5032 43.9012 41.9539C44.5323 41.4046 45.302 40.9927 46.2105 40.8553L48.5199 40.4434V32.2039L48.3119 32.1353H48.3049Z' fill='%2386DCFD'/%3E%3Cpath d='M43.9635 16C40.3919 16 37.3128 18.0599 35.9119 21.081C35.4195 22.1796 35.1421 23.4155 35.1421 24.6514C35.1421 29.3891 39.1367 33.3028 43.9704 33.3028C45.5794 33.3028 47.0496 32.8908 48.3118 32.1356C50.9749 30.625 52.7225 27.8099 52.7225 24.6514C52.7919 19.8451 48.7973 16 43.9704 16L43.9635 16Z' fill='%23D7DEED'/%3E%3Cpath d='M35.4195 42.1602H33.6719V43.8767H35.4195V42.1602Z' fill='%236FBFD8'/%3E%3Cpath d='M26.6606 37.835H24.913V39.5515H26.6606V37.835Z' fill='%236FBFD8'/%3E%3Cpath d='M26.6606 34.4014H24.913V36.1179H26.6606V34.4014Z' fill='%236FBFD8'/%3E%3Cpath d='M22.3192 32.6846H20.5715V34.4011H22.3192V32.6846Z' fill='%236FBFD8'/%3E%3Cpath d='M22.3192 29.252H20.5715V30.9685H22.3192V29.252Z' fill='%236FBFD8'/%3E%3Cpath d='M20.5715 30.9688H18.8239V32.6853H20.5715V30.9688Z' fill='%236FBFD8'/%3E%3Cpath d='M43.6862 30.9685C43.1938 30.9685 42.7777 30.5566 42.7777 30.0759C42.7777 29.5953 43.2008 29.1833 43.6862 29.1833C46.3493 29.1833 48.5893 27.0548 48.5893 24.377C48.5893 23.8963 49.0123 23.4844 49.4978 23.4844C49.9833 23.4844 50.4063 23.8963 50.4063 24.377C50.3369 28.0847 47.3271 30.9685 43.6793 30.9685H43.6862Z' fill='white'/%3E%3Cpath d='M27.999 30.0754L29.1225 31.174C29.6149 31.6546 29.6842 32.4785 29.2612 33.0278C28.8381 33.5771 28.6301 34.2638 28.6301 34.9504C28.6301 35.9116 29.1225 36.8729 29.8923 37.4909L30.8701 38.2462C31.4319 38.6581 32.1323 38.8641 32.8327 38.8641H33.8106C36.7511 38.8641 39.2061 36.8042 39.6915 33.9891C39.7609 33.5085 39.4835 33.0965 38.9911 33.0278C38.4987 32.9592 38.0826 33.2338 38.0132 33.7145C37.6665 35.7057 35.9119 37.2162 33.8106 37.2162H32.8327C32.479 37.2162 32.2016 37.1476 31.9242 36.9416L30.9464 36.1863C30.5996 35.9116 30.3847 35.4997 30.3847 35.019C30.3847 34.6757 30.454 34.4011 30.6621 34.1264C31.6399 32.8905 31.5012 31.1053 30.3847 30.0067L29.2612 28.9081C28.9144 28.5648 28.7688 28.0155 28.8381 27.5349L30.239 21.9046V21.8359L28.4151 22.1106L27.1529 27.1229C26.8755 28.1528 27.2223 29.3201 27.9921 30.0754H27.999Z' fill='%236FBFD8'/%3E%3Cpath d='M52.0915 55C51.5991 55 51.183 54.588 51.183 54.1074V33.5088C51.183 33.0282 51.606 32.6162 52.0915 32.6162C52.5769 32.6162 53 33.0282 53 33.5088V54.1074C52.9306 54.6567 52.5769 55 52.0915 55Z' fill='%23D7DEED'/%3E%3Cpath d='M43.8249 24.5827C43.3325 24.5827 42.9164 24.1707 42.9164 23.6901V20.669C42.9164 20.1883 43.3394 19.7764 43.8249 19.7764C44.3103 19.7764 44.7334 20.1883 44.7334 20.669V23.6901C44.664 24.1707 44.3103 24.5827 43.8249 24.5827Z' fill='%23313A52'/%3E%3Cpath d='M43.8249 28.4281C43.3325 28.4281 42.9164 28.0161 42.9164 27.5354V26.3682C42.9164 25.8876 43.3394 25.4756 43.8249 25.4756C44.3103 25.4756 44.7334 25.8876 44.7334 26.3682V27.5354C44.664 28.0161 44.3103 28.4281 43.8249 28.4281Z' fill='%23313A52'/%3E%3Cpath d='M43.8249 27.2606C42.5627 27.2606 41.5848 26.2993 41.5848 25.0634C41.5848 23.8275 42.5627 22.8662 43.8249 22.8662C45.0871 22.8662 46.0649 23.8275 46.0649 25.0634C46.0649 26.2306 45.0871 27.2606 43.8249 27.2606Z' fill='%23414A56'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_266_3'%3E%3Crect width='36' height='39' fill='white' transform='translate(17 16)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.icon .list ul li.icon3 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='35' cy='35' r='35' fill='%23FEF8E3'/%3E%3Cg clip-path='url(%23clip0_266_4)'%3E%3Cpath d='M34.237 36.271C34.3951 36.271 34.4742 36.4299 34.3951 36.5888L28.9633 43.9766H31.1218C30.8846 43.9766 30.6395 44.1355 30.6395 44.4533V48.9019C30.6395 50.0935 29.6828 50.9673 28.5601 50.9673C27.9987 50.9673 27.4453 50.8084 26.963 50.3318C26.6467 50.0935 26.4807 49.6963 26.4807 49.2991V44.3738C26.4807 44.1355 26.3225 43.8972 25.9984 43.8972H15.957L21.3888 36.5093C21.4679 36.3505 21.3888 36.1916 21.2307 36.1916H18.1155L23.7845 28.486H20.274L29.4456 18L35.7551 25.785L33.4384 28.486H34.3951L38.2298 27.8505L31.1218 36.271H34.237Z' fill='%2380AF52'/%3E%3Cpath d='M49.7339 36.5888L55.1657 43.9766H44.3021C44.0649 43.9766 43.8198 44.1355 43.8198 44.4533V48.9019C43.8198 50.0935 42.8631 50.9673 41.7404 50.9673C41.179 50.9673 40.6256 50.8084 40.1433 50.3318C39.827 50.0935 39.661 49.6963 39.661 49.2991V44.3738C39.661 44.1355 39.5028 43.8972 39.1787 43.8972H29.0345L34.4664 36.5093C34.5454 36.3505 34.4664 36.1916 34.3082 36.1916H31.114L35.5021 30.2336L36.783 28.486H33.2725L35.5891 25.785L42.3887 18L50.8566 28.486H47.3461L53.0151 36.1916H49.9C49.7418 36.271 49.5837 36.4299 49.7418 36.5888H49.7339Z' fill='%2370993F'/%3E%3Cpath d='M55.9563 52H14.0358C13.4744 52 13 51.5234 13 50.9673C13 50.4112 13.4823 49.9346 14.0358 49.9346H55.9563C56.5177 49.9346 56.9921 50.4112 56.9921 50.9673C56.9921 51.5234 56.5098 52 55.9563 52Z' fill='%2357606F'/%3E%3Cpath d='M39.9929 33.0935C39.5897 33.0935 39.2734 32.8552 39.1153 32.5374C38.8781 32.0608 39.0362 31.4253 39.5976 31.187L43.5904 29.201C44.0727 28.9627 44.7053 29.1216 44.9504 29.6776C45.1876 30.1543 45.0294 30.7898 44.4681 31.0281L40.4752 33.0141C40.3171 33.0935 40.159 33.0935 39.9929 33.0935Z' fill='%23698C37'/%3E%3Cpath d='M37.9926 39.0512C37.5972 39.0512 37.2731 38.8129 37.1149 38.4951C36.8778 38.0185 37.0359 37.383 37.5972 37.1446L45.5829 33.1727C46.0652 32.9344 46.6977 33.0932 46.9428 33.6493C47.18 34.1259 47.0219 34.7615 46.4605 34.9998L38.4749 38.9717C38.3167 39.0512 38.1586 39.0512 37.9926 39.0512Z' fill='%23698C37'/%3E%3Cpath d='M26.2593 31.1071C25.864 31.1071 25.5398 30.8688 25.3817 30.551C25.1445 30.0744 25.3026 29.4389 25.864 29.2005L28.3387 27.9295C28.821 27.6912 29.4536 27.8501 29.6987 28.4061C29.9359 28.9622 29.7777 29.5183 29.2164 29.7566L26.7416 31.0276C26.5835 31.1071 26.4253 31.1071 26.2593 31.1071Z' fill='%2370993F'/%3E%3Cpath d='M25.0575 36.1121C24.6622 36.1121 24.338 35.8738 24.1799 35.5561C23.9427 35.0794 24.1008 34.4439 24.6622 34.2056L29.6908 31.743C30.1731 31.5047 30.8056 31.6635 31.0507 32.2196C31.2879 32.6963 31.1298 33.3318 30.5684 33.5701L25.5398 36.0327C25.3817 36.0327 25.2236 36.1121 25.0575 36.1121Z' fill='%2370993F'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_266_4'%3E%3Crect width='44' height='34' fill='white' transform='translate(13 18)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");    
}
.icon .list ul li.icon4 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='35' cy='35' r='35' fill='%23FEF8E3'/%3E%3Cg clip-path='url(%23clip0_266_5)'%3E%3Cpath d='M37.1125 59.0005H32.0939C30.7298 59.0005 29.6267 57.9152 29.6267 56.5795V50.6523H41.3649V56.5795C41.3649 57.9152 40.2618 59.0005 38.8977 59.0005H37.1125Z' fill='%233C3B3D'/%3E%3Cpath d='M35.6642 12.083H35.3274C28.953 12.1665 23.4208 15.7562 20.7009 20.932C20.2799 21.7668 19.9347 22.6017 19.6821 23.52C19.261 24.9391 19 26.4418 19 27.9445C19 33.2873 26.9069 40.9676 27.5047 46.4773H43.4953C44.0931 40.9676 52 33.2873 52 27.9445C52 19.1789 44.6826 12.083 35.6642 12.083Z' fill='%23EF727A'/%3E%3Cpath d='M25.467 27.9449C25.467 19.2629 29.8877 12.167 35.4116 12H35.58C33.5423 12 31.8413 19.0959 31.8413 27.9449C31.8413 33.2877 33.6265 40.968 33.7949 46.4778H30.7298C30.3004 40.968 25.4586 33.2877 25.4586 27.9449H25.467Z' fill='%23FCD884'/%3E%3Cpath d='M35.6642 12.083C41.1881 12.1665 45.6173 19.2624 45.6173 28.0279C45.6173 33.2873 40.7671 41.051 40.4302 46.5608H37.3652C37.5336 41.051 39.3187 33.3708 39.3187 28.0279C39.3271 19.2624 37.6262 12.083 35.58 12.083H35.6642Z' fill='%23FCD884'/%3E%3Cpath d='M43.4953 51.7369H27.5889C26.9911 51.7369 26.4858 51.236 26.4858 50.6517C26.4858 50.0673 26.9995 49.5664 27.5889 49.5664H43.5795C44.1773 49.5664 44.6826 50.0673 44.6826 50.6517C44.5984 51.236 44.0847 51.7369 43.4953 51.7369Z' fill='%232B2B2B'/%3E%3Cpath d='M45.6172 45.4756H25.3743C24.7765 45.4756 24.2712 45.9765 24.2712 46.5608C24.2712 47.1452 24.7849 47.6461 25.3743 47.6461C46.9729 47.7296 42.8048 47.6461 45.6172 47.6461C46.2151 47.6461 46.7203 47.1452 46.7203 46.5608C46.7203 45.9765 46.2067 45.4756 45.6172 45.4756Z' fill='%2357606F'/%3E%3Cpath d='M33.9633 54.8262C33.3654 54.8262 32.8602 55.3271 32.8602 55.9114V59.0002H35.0748V55.8279C34.9906 55.3271 34.5611 54.8262 33.9717 54.8262H33.9633Z' fill='%232B2B2B'/%3E%3Cpath d='M37.1125 54.8262C36.5147 54.8262 36.0095 55.3271 36.0095 55.9114V59.0002H38.2241V55.8279C38.2241 55.3271 37.7104 54.8262 37.121 54.8262H37.1125Z' fill='%232B2B2B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_266_5'%3E%3Crect width='33' height='47' fill='white' transform='translate(19 12)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.icon .list ul li.icon5 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='35' cy='35' r='35' fill='%23FEF8E3'/%3E%3Cg clip-path='url(%23clip0_270_7)'%3E%3Cpath d='M39.9484 21.1257H30.0516C29.5878 21.1257 29.1958 20.7327 29.1958 20.2743C29.1958 18.4407 30.646 17 32.4948 17H37.4399C38.2957 17 39.158 17.3274 39.7459 17.9823C40.3404 18.5717 40.7323 19.423 40.7323 20.2743C40.7977 20.7327 40.4057 21.1257 39.9419 21.1257H39.9484ZM31.1098 19.4885H38.8967C38.8314 19.3575 38.766 19.2265 38.6354 19.1611C38.3087 18.8336 37.9103 18.7027 37.4464 18.7027H32.5013C31.9068 18.6372 31.3777 18.9646 31.1164 19.4885H31.1098Z' fill='%2373665C'/%3E%3Cpath d='M47.8659 19.292H22.1994C20.6838 19.292 19.4949 20.4708 19.3643 21.9115V31.4725V39.6584V51.1185C19.3643 52.4283 20.22 53.5415 21.409 53.869C21.8074 54 22.0687 54 22.1994 54C49.9106 54 47.8659 54 47.9965 54C49.4468 53.9345 50.701 52.6902 50.701 51.1185V22.1734C50.6357 20.5362 49.3814 19.292 47.8659 19.292Z' fill='%23A28671'/%3E%3Cpath d='M50.6357 22.1076V21.9111H51.4915C52.8764 21.9111 54 23.0244 54 24.3996V29.0492C54 30.4244 52.8764 31.5377 51.4915 31.5377H50.6357V22.1076Z' fill='%23747371'/%3E%3Cpath d='M18.5085 21.9111H19.3643V31.4722H18.5738C17.1889 31.4722 16.0653 30.3589 16.0653 28.9837V24.3341C16.0653 23.0244 17.1236 21.9111 18.5085 21.9111Z' fill='%23747371'/%3E%3Cpath d='M22.1341 53.9343H19.4296C17.5809 53.9343 16 52.4281 16 50.529V43.0635C16 41.2299 17.4502 39.7237 19.299 39.6582V51.1184C19.299 52.4281 20.1547 53.5414 21.3436 53.8688C21.605 53.8688 21.8728 53.9343 22.1341 53.9343Z' fill='%23747371'/%3E%3Cpath d='M50.6357 39.6582C52.4844 39.7237 53.9347 41.2299 53.9347 43.0635V50.529C53.9347 52.3626 52.4191 53.9343 50.5051 53.9343H47.8659H47.9966C49.4468 53.8688 50.5704 52.6901 50.701 51.2494V39.7892L50.6357 39.6582Z' fill='%23747371'/%3E%3Cpath d='M33.3505 43.0635V47.7785C33.3505 49.2192 32.1616 50.398 30.7113 50.398H25.3024C23.8521 50.398 22.6632 49.2192 22.6632 47.7785V43.0635H33.3505Z' fill='%2360534A'/%3E%3Cpath d='M47.4021 43.0635V47.7785C47.4021 49.2192 46.2132 50.398 44.7629 50.398H39.2886C37.8384 50.398 36.6495 49.2192 36.6495 47.7785V43.0635H47.4021Z' fill='%2360534A'/%3E%3Cpath d='M47.4021 39.7891H36.6495V43.0634H47.4021V39.7891Z' fill='%2373665C'/%3E%3Cpath d='M33.4158 39.7891H22.6632V43.0634H33.4158V39.7891Z' fill='%2373665C'/%3E%3Cpath d='M35.0033 30.752H38.5635H38.962V33.044V35.6635H30.9073V33.044V30.752H31.1752H35.0033Z' fill='%235B5A57'/%3E%3Cpath d='M30.9073 30.7518V33.0439C26.9486 32.7819 23.4537 32.127 19.4949 31.0138H19.3643V27.543H19.4949C23.4537 28.7217 26.9486 29.3766 30.9073 29.6385V30.7518Z' fill='%2373665C'/%3E%3Cpath d='M50.6357 27.543V31.0138C46.677 32.0616 42.986 32.7164 38.9554 33.0439V29.6385C42.9795 29.3111 46.677 28.6562 50.6357 27.543Z' fill='%2373665C'/%3E%3Cpath d='M50.6357 51.0528V51.1838C50.5704 52.6245 49.3815 53.8032 47.9312 53.8687H22.1341C21.8728 53.8687 21.6049 53.8032 21.3436 53.7377C20.1547 53.4103 19.299 52.297 19.299 50.9873V39.7891H22.5979V47.7784C22.5979 49.2192 23.7868 50.3979 25.2371 50.3979H30.7114C32.1616 50.3979 33.3505 49.2192 33.3505 47.7784V39.7891H36.6495V47.7784C36.6495 49.2192 37.8384 50.3979 39.2886 50.3979H44.6976C46.1478 50.3979 47.3368 49.2192 47.3368 47.7784V39.7891H50.6357V51.0528Z' fill='%238E725D'/%3E%3Cpath d='M50.6357 21.7803H28.0069C27.5431 21.7803 27.1511 22.1732 27.1511 22.6316C27.1511 23.09 27.5496 23.4829 28.0069 23.4829H50.7011V22.1732C50.6357 21.9767 50.6357 21.8458 50.6357 21.7803Z' fill='%238E725D'/%3E%3Cpath d='M24.7079 21.7803H23.8522C23.3884 21.7803 22.9964 22.1732 22.9964 22.6316C22.9964 23.09 23.3949 23.4829 23.8522 23.4829H24.7079C25.1717 23.4829 25.5637 23.09 25.5637 22.6316C25.4984 22.1077 25.1652 21.7803 24.7079 21.7803Z' fill='%238E725D'/%3E%3Cpath d='M30.9073 27.4775V30.7519H34.2063V33.2404C34.2063 33.6988 34.6048 34.0917 35.0621 34.0917C35.5193 34.0917 35.9178 33.6988 35.9178 33.2404V30.7519H39.0861V27.4775H30.9073Z' fill='%23747371'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_270_7'%3E%3Crect width='38' height='37' fill='white' transform='translate(16 17)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.icon .list ul li.icon6 a::before {
background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='35' cy='35' r='35' fill='%23FEF8E3'/%3E%3Cg clip-path='url(%23clip0_270_8)'%3E%3Cpath d='M52.5857 27.4857H45.514V24.7233C45.514 22.9715 44.0997 21.624 42.4119 21.624H27.5881C25.8336 21.624 24.486 23.0389 24.486 24.7233V27.4857H17.4143C16.6738 27.4857 16.0667 28.0921 16.0667 28.8332V49.6524C16.0667 50.3935 16.6738 50.9999 17.4143 50.9999H52.6524C53.3929 50.9999 54 50.3935 54 49.6524V28.8332C53.9333 28.0921 53.3262 27.4857 52.5857 27.4857Z' fill='%2357606F'/%3E%3Cpath d='M22.0642 24.9258H18.5618V27.4861H22.0642V24.9258Z' fill='%23EF727A'/%3E%3Cpath d='M38.7693 24.8584H31.224V27.4861H38.7693V24.8584Z' fill='%23D7DEED'/%3E%3Cpath d='M16.0667 34.2236V44.33H28.2619C27.1812 42.9151 26.5808 41.1633 26.5808 39.2768C26.5808 37.3903 27.1878 35.6385 28.2619 34.2236H16.0667Z' fill='%23D7DEED'/%3E%3Cpath d='M41.7381 34.2236C42.8188 35.6385 43.4192 37.3903 43.4192 39.2768C43.4192 41.1633 42.8122 42.9151 41.7381 44.33H53.9333V34.2236H41.7381Z' fill='%23D7DEED'/%3E%3Cpath d='M35 30.7871C30.2834 30.7871 26.5074 34.6275 26.5074 39.2765C26.5074 43.9254 30.2834 47.7658 35 47.7658C39.7167 47.7658 43.4926 43.9254 43.4926 39.2765C43.4926 34.6275 39.7167 30.7871 35 30.7871Z' fill='%23AFB9D2'/%3E%3Cpath d='M38.369 36.7166C37.6285 35.706 36.3476 35.0322 35 35.0322C33.6524 35.0322 32.3715 35.706 31.631 36.7166C31.0906 37.3904 30.757 38.2663 30.757 39.2769C30.757 40.2202 31.0973 41.0961 31.631 41.8372C32.3715 42.8478 33.6524 43.5216 35 43.5216C36.3476 43.5216 37.6285 42.8478 38.369 41.8372C38.9094 41.1634 39.243 40.2875 39.243 39.2769C39.243 38.3336 38.9094 37.4578 38.369 36.7166Z' fill='%2357606F'/%3E%3Cpath d='M35.0667 18.5922C34.5931 18.5922 34.1928 18.1879 34.1928 17.7163V13.8759C34.1928 13.4043 34.5997 13 35.0667 13C35.5337 13 35.9407 13.4043 35.9407 13.8759V17.7163C35.9407 18.2553 35.5337 18.5922 35.0667 18.5922Z' fill='%23D7DEED'/%3E%3Cpath d='M38.5692 18.8614C38.4358 18.8614 38.2356 18.794 38.0955 18.7266C37.6886 18.4571 37.5551 17.9855 37.8287 17.5813L39.9168 14.2798C40.1836 13.8756 40.6573 13.7408 41.0643 14.0103C41.4712 14.2798 41.6046 14.7515 41.3311 15.1557L39.243 18.4571C39.1763 18.7266 38.9094 18.8614 38.5692 18.8614Z' fill='%23D7DEED'/%3E%3Cpath d='M31.4975 18.8614C31.2307 18.8614 30.9572 18.7266 30.757 18.4571L28.7356 15.1557C28.4688 14.7515 28.6022 14.2125 29.0025 14.0103C29.4094 13.7408 29.9431 13.8756 30.1499 14.2798L32.1713 17.5813C32.4382 17.9855 32.3048 18.5245 31.9045 18.7266C31.8378 18.794 31.7044 18.8614 31.4975 18.8614Z' fill='%23D7DEED'/%3E%3Cpath d='M35 40.9606C34.4596 40.9606 33.986 40.6911 33.6524 40.2868C33.4522 40.0173 33.3188 39.6131 33.3188 39.2762C33.3188 38.9393 33.4522 38.5351 33.6524 38.2656C33.986 37.8613 34.4596 37.5918 35 37.5918C35.5404 37.5918 36.0074 37.8613 36.3476 38.2656C36.5478 38.5351 36.6878 38.9393 36.6878 39.2762C36.6878 39.6131 36.5544 40.0173 36.3476 40.2868C36.014 40.6911 35.5404 40.9606 35 40.9606Z' fill='%23D8F2F1'/%3E%3Cpath d='M53.9333 40.0859H47.1952C46.7216 40.0859 46.3213 40.4902 46.3213 40.9618C46.3213 41.4335 46.7282 41.8377 47.1952 41.8377H53.9333V40.0859Z' fill='%23AFB9D2'/%3E%3Cpath d='M23.612 40.9618C23.612 40.4902 23.2051 40.0859 22.7381 40.0859H16V41.8377H22.7381C23.2784 41.7703 23.612 41.4335 23.612 40.9618Z' fill='%23AFB9D2'/%3E%3Cpath d='M46.388 37.5253C46.388 37.9969 46.795 38.4012 47.2619 38.4012H54V36.6494H47.2619C46.7216 36.6494 46.388 37.0537 46.388 37.5253Z' fill='%23AFB9D2'/%3E%3Cpath d='M23.612 37.5253C23.612 37.0537 23.2051 36.6494 22.7381 36.6494H16V38.4012H22.7381C23.2784 38.3338 23.612 37.9969 23.612 37.5253Z' fill='%23AFB9D2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_270_8'%3E%3Crect width='38' height='38' fill='white' transform='translate(16 16)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px) {
                .icon {
                    height: auto;/**/
                }
                .icon .list ul {
                    flex-wrap: wrap;
                    padding-bottom: 20px;
                }
                .icon .list ul li {
                    width: calc(33.33% - 38px);
                }
                .icon .list ul li a {
                    padding: 95px 0 0 0;
                } 
                
}
@media screen and (max-width:500px) {
            .icon {
                height: auto;
            }   
            .icon .list ul li {
                width: calc(50% - 41px);
            }
}


.tourist {
    padding: 174px 0 109px 0;
    background-color: #FFF8F1;
}
.tourist .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.tourist .tit h2{
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-font-color);
    margin: 15px 0 26px 0;
}
.tourist .inner {
    width: 40%;
}
.tourist .inner .tap_list ul {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}
.tourist .inner .tap_list ul button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
}
.tourist .inner .tap_list ul li.active button {
    background-color: #3553A4;
    color: #fff;
}
/*애니메이션*/
.tourist .inner .ani .image1 {
    width: 78.30%;
    position: relative;
}
.tourist .inner .ani .image1_1{
    position: absolute;
    width: 11.19%;
    left: 25%;
    top: 31%;
    animation: image1_1 5s linear infinite;
}
.tourist .inner .ani .image1_2{
    position: absolute;
    width: 7%;
    left: 30%;
    top: 30%;
    animation: image1_1 6s linear infinite;
}
@keyframes image1_1 {
    0% { transform: translate(0,0);}
    50% { transform: translate(20px,0);}
    100% { transform: translate(0,0);}
}
/*애니메이션 1600px이상일때 조정값*/
@media screen and (min-width:1600px) {
    .tourist .inner .ani .image1_1 {
    position: absolute;
    width: 11.19%;
    left: 34%;
    top: 31%;
    animation: image1_1 5s linear infinite;
}
.tourist .inner .ani .image1_2 {
    position: absolute;
    width: 7%;
    left: 35%;
    top: 30%;
    animation: image1_1 6s linear infinite;
}
@keyframes image1_1 {
    0% { transform: translate(0,0);}
    50% { transform: translate(20px,0);}
    100% { transform: translate(0,0);}
}
}
.tourist .tab_content {
    width: 60%;
}
.tourist .tab_content .tab_item { /**/
    display: none;
}
.tourist .tab_content .tab_item.active { /**/
    display: block;
}
.tourist .tab_content .tab_item.active .photo {
    height: 410px;
    overflow: hidden;
    border: 20px solid transparent;
    background-image:linear-gradient(to bottom right ,#3553A4 ,#31CBB1);
    background-origin:border-box; 
    border-radius: 20px;  
    position: relative;
}
.tourist .tab_content .tab_item.active .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tourist .tab_content .tab_item.active .photo::after {
    position: absolute;
    content: "";
    left: -10px;
    top: -10px;
    background-image:linear-gradient(to bottom right ,#3553A4 ,#31CBB1);
    background-origin: border-box; /*그라데이션시작점??*/
    background-clip: content-box, border-box; /*어디까지할건지?*/
    width: 260px;
    height: 94px;
    border-bottom-right-radius: 80px
}
.tourist .tab_content .tab_item.active .photo h3 {
    position: absolute;
    left: -15px;
    top: -6px;
    z-index: 10;
    color: #fff;
    margin: 24px 19px 21px 67px;;
    font-size: 1.76rem;
    font-weight: var(--bold-weight);
}
.tourist .tab_content .tab_item.active .photo h3::before {
    content: "";
    position: absolute;
    left: -36px;
    top: 5px;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='27' viewBox='0 0 23 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.375 26.3745V0.853516H22.1459L18.6875 8.05164L22.1459 15.2182H3.64594V26.3745H0.375Z' fill='white'/%3E%3C/svg%3E%0A");
}
.tourist .tab_content .tab_item.active .photo .ctrl_wrap {
    position: absolute;
    width: 117px;
    height: 51px;
    right: 0;
    bottom: -8px;
    background-color: #31C6B0;
    border-top-left-radius: 60px;
}
.tourist .tab_content .tab_item.active .photo .ctrl_wrap button {
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;    
}
.tourist .tab_content .tab_item.active .photo .ctrl_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20L0 10L10 0L11.775 1.775L3.55 10L11.775 18.225L10 20Z' fill='white'/%3E%3C/svg%3E%0A");
    position: relative;
    left: 25px;
    bottom: -14px;
}
.tourist .tab_content .tab_item.active .photo .ctrl_wrap button.btn_prev::after {
    position: absolute;
    content: "";
    right: -17px;
    top: 4px;
    width: 1px;
    height: 15px;
    background-color: rgba(255,255,255,0.5);

}
.tourist .tab_content .tab_item.active .photo .ctrl_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0L12 10L2 20L0.224999 18.225L8.45 10L0.224999 1.775L2 0Z' fill='white'/%3E%3C/svg%3E%0A");
    position: relative;
    left: 55px;
    bottom: -14px;
}
.tourist .tab_content .tab_item.active .sub_tit {
    margin: 34px 0 0 0;
}
.tourist .tab_content .tab_item.active .sub_tit ul {
    margin: 0 10% 0 10%;
}
.tourist .tab_content .tab_item.active .sub_tit ul li {
    display: flex;
    line-height: 1.8;
    position: relative;
}
.tourist .tab_content .tab_item.active .sub_tit ul li::before {
    position: absolute;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    left: -34px;
    top: -3px;
}
.tourist .tab_content .tab_item.active .sub_tit ul li.icon1::before {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.3563C7.2375 10.3562 8.17188 9.39375 8.80313 8.46875C9.43437 7.54375 9.75 6.675 9.75 5.8625C9.75 4.7375 9.4 3.8125 8.7 3.0875C8 2.3625 7.1 2 6 2C4.9 2 4 2.3625 3.3 3.0875C2.6 3.8125 2.25 4.7375 2.25 5.8625C2.25 6.675 2.56562 7.54375 3.19688 8.46875C3.82812 9.39375 4.7625 10.3562 6 11.3563ZM6 12.8937C5.85 12.8937 5.7 12.8688 5.55 12.8188C5.4 12.7688 5.2625 12.6938 5.1375 12.5938C3.6625 11.4187 2.5625 10.2719 1.8375 9.15313C1.1125 8.03438 0.75 6.9375 0.75 5.8625C0.75 4.3 1.2375 3.01562 2.2125 2.00938C3.1875 1.00313 4.45 0.5 6 0.5C7.55 0.5 8.8125 1.00313 9.7875 2.00938C10.7625 3.01562 11.25 4.3 11.25 5.8625C11.25 6.9375 10.8875 8.03438 10.1625 9.15313C9.4375 10.2719 8.3375 11.4187 6.8625 12.5938C6.7375 12.6938 6.6 12.7688 6.45 12.8188C6.3 12.8688 6.15 12.8937 6 12.8937ZM6 7.25C6.4125 7.25 6.76563 7.10313 7.05938 6.80938C7.35313 6.51563 7.5 6.1625 7.5 5.75C7.5 5.3375 7.35313 4.98438 7.05938 4.69063C6.76563 4.39688 6.4125 4.25 6 4.25C5.5875 4.25 5.23438 4.39688 4.94063 4.69063C4.64688 4.98438 4.5 5.3375 4.5 5.75C4.5 6.1625 4.64688 6.51563 4.94063 6.80938C5.23438 7.10313 5.5875 7.25 6 7.25ZM1.5 15.5C1.2875 15.5 1.10938 15.4281 0.965625 15.2844C0.821875 15.1406 0.75 14.9625 0.75 14.75C0.75 14.5375 0.821875 14.3594 0.965625 14.2156C1.10938 14.0719 1.2875 14 1.5 14H10.5C10.7125 14 10.8906 14.0719 11.0344 14.2156C11.1781 14.3594 11.25 14.5375 11.25 14.75C11.25 14.9625 11.1781 15.1406 11.0344 15.2844C10.8906 15.4281 10.7125 15.5 10.5 15.5H1.5Z' fill='%233551A4'/%3E%3C/svg%3E%0A");
}
.tourist .tab_content .tab_item.active .sub_tit ul li.icon2::before {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9625 13.75C11.4 13.75 9.85625 13.4094 8.33125 12.7281C6.80625 12.0469 5.41875 11.0813 4.16875 9.83125C2.91875 8.58125 1.95312 7.19375 1.27188 5.66875C0.590625 4.14375 0.25 2.6 0.25 1.0375C0.25 0.8125 0.325 0.625 0.475 0.475C0.625 0.325 0.8125 0.25 1.0375 0.25H4.075C4.25 0.25 4.40625 0.309375 4.54375 0.428125C4.68125 0.546875 4.7625 0.6875 4.7875 0.85L5.275 3.475C5.3 3.675 5.29375 3.84375 5.25625 3.98125C5.21875 4.11875 5.15 4.2375 5.05 4.3375L3.23125 6.175C3.48125 6.6375 3.77812 7.08437 4.12187 7.51562C4.46562 7.94688 4.84375 8.3625 5.25625 8.7625C5.64375 9.15 6.05 9.50938 6.475 9.84063C6.9 10.1719 7.35 10.475 7.825 10.75L9.5875 8.9875C9.7 8.875 9.84688 8.79062 10.0281 8.73438C10.2094 8.67813 10.3875 8.6625 10.5625 8.6875L13.15 9.2125C13.325 9.2625 13.4688 9.35312 13.5812 9.48438C13.6937 9.61563 13.75 9.7625 13.75 9.925V12.9625C13.75 13.1875 13.675 13.375 13.525 13.525C13.375 13.675 13.1875 13.75 12.9625 13.75ZM2.51875 4.75L3.75625 3.5125L3.4375 1.75H1.76875C1.83125 2.2625 1.91875 2.76875 2.03125 3.26875C2.14375 3.76875 2.30625 4.2625 2.51875 4.75ZM9.23125 11.4625C9.71875 11.675 10.2156 11.8438 10.7219 11.9688C11.2281 12.0938 11.7375 12.175 12.25 12.2125V10.5625L10.4875 10.2063L9.23125 11.4625Z' fill='%233551A4'/%3E%3C/svg%3E%0A");
}
.tourist .tab_content .tab_item.active .sub_tit ul li.icon3::before {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.75 11.5C13.75 12.125 13.5312 12.6562 13.0938 13.0938C12.6562 13.5313 12.125 13.75 11.5 13.75H4.75C4.5375 13.75 4.35938 13.6781 4.21562 13.5344C4.07187 13.3906 4 13.2125 4 13C4 12.7875 4.07187 12.6094 4.21562 12.4656C4.35938 12.3219 4.5375 12.25 4.75 12.25H11.5C11.7125 12.25 11.8906 12.1781 12.0344 12.0344C12.1781 11.8906 12.25 11.7125 12.25 11.5C12.25 11.2875 12.1781 11.1094 12.0344 10.9656C11.8906 10.8219 11.7125 10.75 11.5 10.75H2.5C1.875 10.75 1.34375 10.5312 0.90625 10.0938C0.46875 9.65625 0.25 9.125 0.25 8.5C0.25 7.875 0.46875 7.34375 0.90625 6.90625C1.34375 6.46875 1.875 6.25 2.5 6.25L11.5 6.25C11.7125 6.25 11.8906 6.17812 12.0344 6.03437C12.1781 5.89062 12.25 5.7125 12.25 5.5C12.25 5.2875 12.1781 5.10938 12.0344 4.96562C11.8906 4.82187 11.7125 4.75 11.5 4.75H2.5C1.875 4.75 1.34375 4.53125 0.90625 4.09375C0.46875 3.65625 0.25 3.125 0.25 2.5C0.25 1.875 0.46875 1.34375 0.90625 0.90625C1.34375 0.46875 1.875 0.25 2.5 0.25H9.25C9.4625 0.25 9.64062 0.321876 9.78438 0.465626C9.92813 0.609375 10 0.7875 10 1C10 1.2125 9.92813 1.39062 9.78438 1.53437C9.64062 1.67812 9.4625 1.75 9.25 1.75H2.5C2.2875 1.75 2.10938 1.82187 1.96563 1.96562C1.82188 2.10938 1.75 2.2875 1.75 2.5C1.75 2.7125 1.82188 2.89062 1.96563 3.03437C2.10938 3.17812 2.2875 3.25 2.5 3.25H11.5C12.125 3.25 12.6562 3.46875 13.0938 3.90625C13.5312 4.34375 13.75 4.875 13.75 5.5C13.75 6.125 13.5312 6.65625 13.0938 7.09375C12.6562 7.53125 12.125 7.75 11.5 7.75L2.5 7.75C2.2875 7.75 2.10938 7.82188 1.96563 7.96562C1.82188 8.10938 1.75 8.2875 1.75 8.5C1.75 8.7125 1.82188 8.89062 1.96563 9.03438C2.10938 9.17812 2.2875 9.25 2.5 9.25H11.5C12.125 9.25 12.6562 9.46875 13.0938 9.90625C13.5312 10.3438 13.75 10.875 13.75 11.5Z' fill='%233551A4'/%3E%3C/svg%3E%0A");
}
.tourist .tab_content .tab_item.active .sub_tit ul li strong {
    color: #3551A4;
    font-weight: var(--bold-weight);
    width: 90px;
    display: block;
}
.tourist .tab_content .tab_item.active .sub_tit ul li span {
    width: calc(100% - 100px);
}
@media screen and (max-width:1024px) {
                    .tourist {
                        padding: 100px 0 78px 0;
                    }
                    .tourist .wrapper {
                        display: block;
                    }
                    .tourist .tit h2{
                        margin: 10px 0 23px 0;
                    }
                    .tourist .inner {
                        width: auto;
                    }
                    .tourist .inner .tap_list ul {
                        gap: 5px;
                        margin-bottom: 40px;
                    }
                    .tourist .inner .tap_list ul button {
                        padding: 10px 15px;
                        border-radius: 30px;
                    }
                    /*애니메이션*/
                    .tourist .inner .ani {
                        display: none;
                    }
                    .tourist .tab_content {
                        width: auto;
                    }
                    .tourist .tab_content .tab_item.active .photo {
                        height: 268px;
                        border: 10px solid transparent;
                        border-radius: 10px;  
                    }
                    .tourist .tab_content .tab_item.active .photo::after {
                        left: -10px;
                        top: -10px;
                        width: 218px;
                        height: 66px;
                        border-bottom-right-radius: 40px
                    }
                    .tourist .tab_content .tab_item.active .photo h3 {
                        left: -11px;
                        top: -6px;
                        margin: 18px 22px 18px 51px;
                        font-size: 1.56rem;
                    }
                    .tourist .tab_content .tab_item.active .photo .ctrl_wrap {
                        width: 99px;
                        height: 38px;
                        right: 0;
                        bottom: -3px;
                        border-top-left-radius: 30px;
                    }
                    .tourist .tab_content .tab_item.active .photo .ctrl_wrap button.btn_prev {
                        left: 17px;
                        bottom: -8px;
                    }
                    .tourist .tab_content .tab_item.active .photo .ctrl_wrap button.btn_next {
                        left: 45px;
                        bottom: -7px;
                    }
                    .tourist .tab_content .tab_item.active .sub_tit {
                        margin: 24px 0 0 0;
                    }
                    .tourist .tab_content .tab_item.active .sub_tit ul {
                        margin: 0 0 0 131px;
                    }
                    
}
@media screen and (max-width:768px) {
                .tourist {
                    padding: 76px 0 58px 0;
                }
                .tourist .wrapper {
                    display: block;
                }
                .tourist .tit h2{
                    margin: 10px 0 23px 0;
                }
                .tourist .inner {
                    width: auto;
                }
                .tourist .inner .tap_list ul {
                    gap: 5px;
                    margin-bottom: 30px;
                }
                .tourist .inner .tap_list ul button {
                    padding: 10px 15px;
                    border-radius: 30px;
                }
                /*애니메이션*/
                .tourist .inner .ani {
                    display: none;
                }
                .tourist .tab_content {
                    width: auto;
                }
                .tourist .tab_content .tab_item.active .photo {
                    height: 268px;
                    border: 10px solid transparent;
                    border-radius: 10px;  
                }
                .tourist .tab_content .tab_item.active .photo::after {
                    left: -10px;
                    top: -10px;
                    width: 218px;
                    height: 66px;
                    border-bottom-right-radius: 40px
                }
                .tourist .tab_content .tab_item.active .photo h3 {
                    left: -11px;
                    top: -6px;
                    margin: 18px 22px 18px 51px;
                    font-size: 1.56rem;
                }
                .tourist .tab_content .tab_item.active .photo .ctrl_wrap {
                    width: 99px;
                    height: 38px;
                    right: 0;
                    bottom: -3px;
                    border-top-left-radius: 30px;
                }
                .tourist .tab_content .tab_item.active .photo .ctrl_wrap button.btn_prev {
                    left: 17px;
                    bottom: -8px;
                }
                .tourist .tab_content .tab_item.active .photo .ctrl_wrap button.btn_next {
                    left: 45px;
                    bottom: -7px;
                }
                .tourist .tab_content .tab_item.active .sub_tit {
                    display: none;
                }
                
}

.story {
    margin: 181px 0 106px 0;
    position: relative;/*ani*/
 }
.story .ani img.ani_tree1  {
    position: absolute;
    left: 0;
    top: 193px;
    width: 28%;
    animation: tree 5s linear infinite;
}

@keyframes tree {
    /*왔다갔다하는 반복되는 애니메이션은 0%, 100% 같아야함*/
    0% { transform: scale(100%) translateY(0,0);}
    50% { transform: scale(90%) translateY(5%);}
    100% { transform: scale(100%) translateY(0,0);}

}
.story .ani img.ani_tree2  {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
}
.story .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.story .tit {
    position: sticky;
    top: 30px;
}
 
.story .tit h2 {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-font-color);
    margin: 15px 0 26px 0;
}
.story .list {
    width: calc(100% - 428px);
    margin: 178px 0 0 0;
}
.story .list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
}
.story .list ul li {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: calc(50% - 12px);
}
.story .list ul li:nth-child(even) {
    transform: translateY(-166px);
}
 
.story .list  ul  li  a {
    display: block;
}
.story .list ul li .photo {
    height: 309px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.story .list ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.story .list ul li .txt {
    text-align: center;
    margin: 19px 0 16px 0;
    position: relative;
}
.story .list ul li .txt h3 {
    font-size: var(--sub-font-size);
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
    line-height: var(--tit-line-height);
    margin: 0 0 16px 0;
}

.story .list ul li .txt p {
    margin: 0 0 17px 0;
}
  
.story .list ul li:hover {
    background-color: var(--point-color);
    color: #fff;
}

.story .list ul li:hover .txt h3 {
    color: #fff;
}
.story .list ul li .txt span.circle {
    width: 36px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 13.75V7.75H0.25V6.25H6.25V0.25H7.75V6.25H13.75V7.75H7.75V13.75H6.25Z' fill='%23555555'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}

.story .list ul li:hover .txt span.circle {
    border: 1px solid #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 13.75V7.75H0.25V6.25H6.25V0.25H7.75V6.25H13.75V7.75H7.75V13.75H6.25Z' fill='white'/%3E%3C/svg%3E%0A");

}
@media screen and (max-width:1200px) {
    .story {
        margin: 181px 0 106px 0;
        position: relative;/*ani*/
     }
     .story .wrapper {
        display: flex;
        flex-direction: column;
    }
    .story .tit {
        position: relative;
        top: 0;
    }
    .story .list ul li:nth-child(even) {
        transform: translateY(0);
    }
    .story .ani img.ani_tree1 {
        display: none;
    }
    .story .list {
        width: 100%;
        margin: 30px 0 0 0;
    }
}
@media screen and (max-width:768px) {
                            .story {
                                margin: 76px 0 48px 0;
                            }
                            .story .ani  {
                                display: none;
                            }
                            .story .wrapper {
                                display: block;
                            }
                            .story .tit {
                                position: relative;
                                top: 0;
                            }
                            
                            .story .tit h2 {
                                margin: 10px 0 0 0;
                            }
                            .story .list {
                                width: auto;
                                margin: 33px 0 0 0;
                            }
                            .story .list ul {
                                gap: 48px;
                                flex-direction: column;
                            }
                            .story .list ul li {
                                border-radius: 10px;
                                width: 100%;
                                height: 128px;
                            }
                            .story .list ul li:nth-child(even) {
                                transform: none;
                            }
                            .story .list ul li .photo {
                                height: 128px;
                                border-radius: 10px;
                            }
                            .story .list ul li .txt {
                                text-align: left;
                                margin: 10px 0 13px 0;
                                display: block;
                            }
                            .story .list ul li .txt h3 {
                                margin: 10px 0 19px 0;
                            }
                            
                            .story .list ul li .txt p {
                                display: none;
                            }
                            .story .list ul li .txt span.circle {
                                display: none;
                            }
                            
}





.notice {
    padding: 171px 0 90px 0;
    background-color: #FFF8F1;
}
.notice .wrapper {
    display: flex;
    justify-content: space-between;
}
.notice .news {
    width: calc(100% - 620px);
    position: relative;
}
.notice .news .tit h3 {
    padding: 17px 0 13px 0;
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-font-color);
    border-bottom: 2px solid var(--point-color);
}
.notice .news .list ul li {
    border-bottom: 1px solid #ccc;
}
.notice .news .list ul li a {
    display: flex;
    justify-content: space-between;
    padding: 34px 0 30px 0;
}
.notice .news .list ul li a:hover {
    font-weight: var(--bold-weight);
}
.notice .news .list ul li a strong {
    margin: 0 15px;
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
}
.notice .news .list ul li a p {
    width: calc(100% - 196px);
    /*1줄제한, ..으로 만들기*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--tit-font-color);
}
.notice .news .list ul li a span {
    font-size: 0.88rem;
    width: 104px;
}
.notice .news .more {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    right: 0;
    top: 46px;
}
.notice .news .more::after {
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z' fill='%23555555'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    right: 6px;
    top: 6px;
    width: 24px;
    height: 24px;
}


.notice .popupzone{
    width: 535px;
}
.notice .popupzone h2 {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-font-color);
    margin: 37px 0 15px 0;
}
.notice .popupzone .swiper {
    width: 535px;
}
.notice .popupzone .swiper ul li {
    border: 1px solid #ccc;
    border-radius: 20px;
}
.notice .popupzone .swiper ul li a {
    display: block;
    font-size: 0;
    line-height: 0;
}
.notice .popupzone .swiper-slide img {
    width: 100%;
    border-radius: 20px;
}
.notice .popupzone .ctrl_nav {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 115px;
    height: 33px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--point-color);
    z-index: 5;
}
.notice .popupzone .ctrl_nav .ctrl_wrap {
    display: flex;
    gap: 7px;
    margin: 8px 0 0 8px;
}
.notice .popupzone .ctrl_nav .ctrl_wrap .count {
    color: rgba(255,255,255,0.5);
    font-size: 0.88rem;
    width: auto;
}
.notice .popupzone .ctrl_nav .ctrl_wrap .count .swiper-pagination-current {
    color: #fff;
}
.notice .popupzone .ctrl_wrap button {
    background-position: center center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}
.notice .popupzone .ctrl_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 12.75L0 6.5L6.25 0.25L7.35937 1.35937L2.21875 6.5L7.35937 11.6406L6.25 12.75Z' fill='white'/%3E%3C/svg%3E%0A");    

}
.notice .popupzone .ctrl_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 0.25L8 6.5L1.75 12.75L0.640625 11.6406L5.78125 6.5L0.640625 1.35937L1.75 0.25Z' fill='white'/%3E%3C/svg%3E%0A");    

}
@media screen and (max-width:1200px) {
    .notice .news .tit h3 {
        font-size: 2rem;
    }
    .notice .popupzone h2 {
        font-size: 2rem;
    }
}
@media screen and (max-width:1024px) {
                        .notice {
                            padding: 90px 0 70px 0;
                        }
                        .notice .wrapper {
                            display: block;
                        }
                        .notice .news {
                            width: auto;
                        }
                        .notice .news .tit h3 {
                            font-size: var(--tit-font-size);
                            padding: 20px 0 30px 0;
                        }
                        .notice .news .list ul li a {
                            padding: 35px 0 30px 0;
                        }
                        .notice .news .list ul li a span {
                            font-size: 0.88rem;
                            width: 104px;
                        }
                        .notice .news .more {
                            width: 27px;
                            height: 27px;
                            right: 0;
                            top: 46px;
                        }
                        .notice .news .more::after {
                            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.4165 5.58366H0.916504V4.41699H4.4165V0.916992H5.58317V4.41699H9.08317V5.58366H5.58317V9.08366H4.4165V5.58366Z' fill='%23555555'/%3E%3C/svg%3E%0A");                            background-position: center center;
                            background-repeat: no-repeat;
                            right: 0;
                            top: 0;
                        }
                        .notice .popupzone{
                            width: auto;
                        }
                        .notice .popupzone h2 {
                            font-size: var(--tit-font-size);
                            font-weight: var(--bold-weight);
                            line-height: var(--tit-line-height);
                            color: var(--tit-font-color);
                            margin: 42px 0 20px 0;
                        }
                        .notice .popupzone .swiper {
                            width: auto;
                        }
                        .notice .popupzone .swiper ul li {
                            border-radius: 10px;
                        }
                        .notice .popupzone .swiper-slide img {
                            border-radius: 10px;
                        }
                        .notice .popupzone .ctrl_nav {
                            width: 107px;
                            border-top-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                        .notice .popupzone .ctrl_nav .ctrl_wrap {
                            gap: 5px;
                            margin: 7px 0 0 7px;
                        }
                        .notice .popupzone .ctrl_nav .ctrl_wrap .count {
                            font-size: 0.87rem;
                        }
}



@media screen and (max-width:768px) {
                        .notice {
                            padding: 59px 0 40px 0;
                        }
                        .notice .wrapper {
                            display: block;
                        }
                        .notice .news {
                            width: auto;
                        }
                        .notice .news .tit h3 {
                            padding: 10px 0 22px 0;
                        }
                        .notice .news .list ul li a {
                            padding: 28px 0 26px 0;
                        }
                        .notice .news .list ul li a span {
                            font-size: 0.81rem;
                            width: 104px;
                        }
                        .notice .news .more {
                            width: 27px;
                            height: 27px;
                            right: 0;
                            top: 46px;
                        }
                        .notice .news .more::after {
                            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.4165 5.58366H0.916504V4.41699H4.4165V0.916992H5.58317V4.41699H9.08317V5.58366H5.58317V9.08366H4.4165V5.58366Z' fill='%23555555'/%3E%3C/svg%3E%0A");                            background-position: center center;
                            background-repeat: no-repeat;
                            right: 0;
                            top: 0;
                        }
                        .notice .popupzone{
                            width: auto;
                        }
                        .notice .popupzone h2 {
                            font-size: var(--tit-font-size);
                            font-weight: var(--bold-weight);
                            line-height: var(--tit-line-height);
                            color: var(--tit-font-color);
                            margin: 37px 0 15px 0;
                        }
                        .notice .popupzone .swiper {
                            width: auto;
                        }
                        .notice .popupzone .swiper ul li {
                            border-radius: 10px;
                        }
                        .notice .popupzone .swiper-slide img {
                            border-radius: 10px;
                        }
                        .notice .popupzone .ctrl_nav {
                            width: 107px;
                            border-top-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                        .notice .popupzone .ctrl_nav .ctrl_wrap {
                            gap: 5px;
                            margin: 7px 0 0 7px;
                        }
                        .notice .popupzone .ctrl_nav .ctrl_wrap .count {
                            font-size: 0.87rem;
                        }
}

