/***** Paperlogy *****/
@font-face {
	font-family:'Paperlogy';font-weight:400;font-display:swap;
	src: url(Paperlogy-4Regular.woff2) format('woff2'),
		url(Paperlogy-4Regular.ttf) format('opentype');
}
@font-face {
	font-family:'Paperlogy';font-weight:500;font-display:swap;
	src: url(Paperlogy-5Medium.woff2) format('woff2'),
		url(Paperlogy-5Medium.ttf) format('opentype');
}
@font-face {
	font-family:'Paperlogy';font-weight:700;font-display:swap;
	src: url(Paperlogy-7Bold.woff2) format('woff2'),
		url(Paperlogy-7Bold.ttf) format('opentype');
}