header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-margin);
}
header .logo a {
    display: block;
    width: 202px;
    height: 42.58px;
    background: url(../images/common/logo.svg) no-repeat center center / contain;
}
header .util {
    display: flex;
    gap: 0 13px;
}
header .util .search .sh_open {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-point03);
    position: relative;
}
header .util .search .sh_open::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 12px;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.60565 11.2113C4.04028 11.2113 2.71463 10.6684 1.62869 9.5826C0.542896 8.49666 0 7.17101 0 5.60565C0 4.04028 0.542896 2.71463 1.62869 1.62869C2.71463 0.542896 4.04028 0 5.60565 0C7.17101 0 8.49666 0.542896 9.5826 1.62869C10.6684 2.71463 11.2113 4.04028 11.2113 5.60565C11.2113 6.2603 11.1014 6.88554 10.8817 7.48137C10.6619 8.07721 10.3686 8.59543 10.002 9.03604L15.2765 14.3105C15.4034 14.4373 15.4684 14.5968 15.4713 14.789C15.4742 14.9812 15.4092 15.1437 15.2765 15.2765C15.1437 15.4092 14.9827 15.4756 14.7934 15.4756C14.6043 15.4756 14.4433 15.4092 14.3105 15.2765L9.03604 10.002C8.57771 10.3804 8.05062 10.6766 7.45479 10.8905C6.85896 11.1043 6.24258 11.2113 5.60565 11.2113ZM5.60565 9.83652C6.78677 9.83652 7.78716 9.42662 8.60681 8.60681C9.42662 7.78716 9.83652 6.78677 9.83652 5.60565C9.83652 4.42452 9.42662 3.42413 8.60681 2.60448C7.78716 1.78467 6.78677 1.37477 5.60565 1.37477C4.42452 1.37477 3.42413 1.78467 2.60448 2.60448C1.78467 3.42413 1.37477 4.42452 1.37477 5.60565C1.37477 6.78677 1.78467 7.78716 2.60448 8.60681C3.42413 9.42662 4.42452 9.83652 5.60565 9.83652Z' /%3E%3C/svg%3E%0A");
}
header .util a {
    display: block;
    width: 96px;
    height: 40px;
    background-color: var(--color-white);
    border-radius: 30px;
    color: var(--color-basic);
    text-align: center;
    padding: 8px 0;
}
/* header가 fixed 되었을때 */
header.fixed {
    background-color: var(--color-tit);
}

/* pc 버전 메뉴 */
@media screen and (min-width:1025px) {
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_close {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li 좌우정렬 */

    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* depth2의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 2rem;
        line-height: var(--header-h);
        padding: 0 1.55em;
        white-space: nowrap;
    }
    
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute; /* li 기준 정렬 */
        left: 50%; /* li 넓이의 50% */
        transform: translateX(-50%); /* depth2 넓이의 50% */
        top: calc(var(--header-h) - 20px);
        background-color: var(--color-point01);
        border-radius: 20px;
        box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
        min-width: 100%; /* li 넓이의 100% */
        padding: 22px 35px;
        color: var(--color-white);
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 5px 0;
        white-space: nowrap; /* 줄바꿈 금지 */
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: 700;
    }

    /* 메뉴에 오버했을때 */
    header.menu_pc {
        background-color: var(--color-tit);
        backdrop-filter: blur(10px);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--color-point-pk);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span::before {
        content: "";
        position: absolute;
        left: -10px;
        top: -1px;
        width: 10px;
        height: 10px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 7px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.08824 5.33333V3.78908L0.746574 4.56283C0.626907 4.62989 0.500519 4.64611 0.367407 4.6115C0.234296 4.57689 0.134185 4.49772 0.0670741 4.374C1.85768e-05 4.255 -0.0167593 4.12883 0.0167407 3.9955C0.0502407 3.86217 0.126852 3.76217 0.246574 3.6955L1.58824 2.91667L0.246574 2.14617C0.126852 2.07978 0.0502407 1.97897 0.0167407 1.84375C-0.0167593 1.70858 1.85768e-05 1.58119 0.0670741 1.46158C0.134185 1.34192 0.234824 1.26478 0.368991 1.23017C0.503213 1.19556 0.63013 1.21178 0.749741 1.27883L2.08824 2.05258V0.5C2.08824 0.361889 2.13699 0.244028 2.23449 0.146417C2.33205 0.0488056 2.4498 0 2.58774 0C2.72569 0 2.84357 0.0488056 2.94141 0.146417C3.0393 0.244028 3.08824 0.361889 3.08824 0.5V2.05258L4.42991 1.27883C4.54957 1.21178 4.67596 1.19556 4.80907 1.23017C4.94218 1.26478 5.0423 1.34192 5.10941 1.46158C5.17646 1.58119 5.19218 1.70858 5.15657 1.84375C5.12091 1.97897 5.04363 2.07978 4.92474 2.14617L3.58824 2.91667L4.92991 3.6955C5.04963 3.76217 5.12624 3.86217 5.15974 3.9955C5.19324 4.12883 5.17646 4.25739 5.10941 4.38117C5.0423 4.50011 4.94166 4.57689 4.80749 4.6115C4.67327 4.64611 4.54635 4.62989 4.42674 4.56283L3.08824 3.78908V5.33333C3.08824 5.47144 3.03949 5.58931 2.94199 5.68692C2.84444 5.78453 2.72669 5.83333 2.58874 5.83333C2.4508 5.83333 2.33291 5.78453 2.23507 5.68692C2.13719 5.58931 2.08824 5.47144 2.08824 5.33333Z'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: block;
    }

}

@media screen and (max-width:1280px) {
    header .gnb .gnb_wrap ul.depth1 > li > a {
        padding: 0 1.1em;
    }
}

@media screen and (max-width:1024px) {
    header {
        padding-right: 0;
    }
    header .logo a {
        width: 150px;
    }   
    header .util {
        display: none;
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 22px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 15' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.9375 14.0863C0.671875 14.0863 0.449271 13.9964 0.269688 13.8166C0.089896 13.637 0 13.4143 0 13.1484C0 12.8828 0.089896 12.6602 0.269688 12.4806C0.449271 12.3012 0.671875 12.2116 0.9375 12.2116H20.3125C20.5781 12.2116 20.8007 12.3014 20.9803 12.4809C21.1601 12.6607 21.25 12.8835 21.25 13.1494C21.25 13.415 21.1601 13.6376 20.9803 13.8172C20.8007 13.9966 20.5781 14.0863 20.3125 14.0863H0.9375ZM0.9375 7.98063C0.671875 7.98063 0.449271 7.89073 0.269688 7.71094C0.089896 7.53115 0 7.30844 0 7.04281C0 6.77698 0.089896 6.55437 0.269688 6.375C0.449271 6.19542 0.671875 6.10563 0.9375 6.10563H20.3125C20.5781 6.10563 20.8007 6.19552 20.9803 6.37531C21.1601 6.5551 21.25 6.77781 21.25 7.04344C21.25 7.30927 21.1601 7.53188 20.9803 7.71125C20.8007 7.89083 20.5781 7.98063 20.3125 7.98063H0.9375ZM0.9375 1.87469C0.671875 1.87469 0.449271 1.7849 0.269688 1.60531C0.089896 1.42552 0 1.20271 0 0.936874C0 0.671249 0.089896 0.448645 0.269688 0.269062C0.449271 0.089687 0.671875 0 0.9375 0H20.3125C20.5781 0 20.8007 0.089896 20.9803 0.269688C21.1601 0.449271 21.25 0.671979 21.25 0.937813C21.25 1.20344 21.1601 1.42604 20.9803 1.60563C20.8007 1.785 20.5781 1.87469 20.3125 1.87469H0.9375Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        position: absolute; /* header 기준 정렬 */
        right: -81%;
        top: 0;
        z-index: 10;
        height: 100dvh;
        background-color: var(--color-tit);
        color: var(--color-white);
        width: 70%;
        transition: 0.5s;
    }
    header.menu_mo .gnb .gnb_wrap{
        right: 0;
    }
    header .gnb .gnb_wrap .gnb_logo {
        position: absolute; /* gnb_wrap 기준 정렬 */
        left: var(--wrapper-margin);
        top: 0;
        width: 120px;
        height: var(--header-h);
        background: url(../images/common/logo.svg) no-repeat center center / contain;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: var(--header-h);
        height: calc(100dvh - var(--header-h));
        overflow-y: auto;
        border-top: 1px solid var(--color-white20);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 18px var(--wrapper-margin);
        font-size: 1.7rem;
        color: var(--color-white);
        position: relative; /* before/after 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;
        right: var(--wrapper-margin);
        top: 36%;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 12px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 7' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.56208 6.27214C5.43656 6.27214 5.31972 6.25208 5.21156 6.21198C5.1034 6.17188 5.00054 6.10313 4.90297 6.00573L0.22146 1.32422C0.0773628 1.17995 0.00357809 0.998612 0.000105868 0.780209C-0.00319274 0.56198 0.070592 0.377344 0.22146 0.226302C0.372502 0.0754341 0.555488 0 0.770418 0C0.985349 0 1.16833 0.0754341 1.31938 0.226302L5.56208 4.46927L9.80479 0.226302C9.94906 0.0822049 10.1304 0.0084202 10.3488 0.00494798C10.567 0.00164937 10.7517 0.0754341 10.9027 0.226302C11.0536 0.377344 11.129 0.56033 11.129 0.775261C11.129 0.990192 11.0536 1.17318 10.9027 1.32422L6.2212 6.00573C6.12363 6.10313 6.02077 6.17188 5.91261 6.21198C5.80445 6.25208 5.68761 6.27214 5.56208 6.27214Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: rotate(180deg);
        transition: transform 0.5s;
    }
    /* open 클래스 */
    header .gnb .gnb_wrap ul.depth1 > li.open > a { 
        background-color: var(--color-point01);
    } 
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        padding: 12px 0 12px 0;
        display: none;
        border-bottom: 1px solid var(--color-white20);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 6px 0 6px calc(var(--wrapper-margin) * 2);
    }
    header .gnb .gnb_wrap .gnb_close {
        position: absolute;
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 16px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.93031 9.2475L1.58906 15.5891C1.41594 15.762 1.19833 15.8505 0.93625 15.8547C0.674375 15.8586 0.452813 15.7701 0.271563 15.5891C0.0905209 15.4078 0 15.1882 0 14.9303C0 14.6724 0.0905209 14.4528 0.271563 14.2716L6.61313 7.93031L0.271563 1.58906C0.0986459 1.41594 0.0101042 1.19833 0.00593758 0.936251C0.00197924 0.674376 0.0905209 0.452813 0.271563 0.271563C0.452813 0.0905209 0.672396 0 0.930313 0C1.18823 0 1.40781 0.0905209 1.58906 0.271563L7.93031 6.61313L14.2716 0.271563C14.4447 0.0986459 14.6623 0.0101042 14.9244 0.00593758C15.1863 0.00197924 15.4078 0.0905209 15.5891 0.271563C15.7701 0.452813 15.8606 0.672396 15.8606 0.930313C15.8606 1.18823 15.7701 1.40781 15.5891 1.58906L9.2475 7.93031L15.5891 14.2716C15.762 14.4447 15.8505 14.6623 15.8547 14.9244C15.8586 15.1863 15.7701 15.4078 15.5891 15.5891C15.4078 15.7701 15.1882 15.8606 14.9303 15.8606C14.6724 15.8606 14.4528 15.7701 14.2716 15.5891L7.93031 9.2475Z' /%3E%3C/svg%3E%0A");
    }
    
    header .gnb .gnb_bg {
        position: absolute; /* header 기준 정렬 */
        right: -101%;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: var(--color-black80);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: right 0s, opacity 0.5s;
    }
    header.menu_mo .gnb .gnb_bg {
        opacity: 1;
        right: 0;
    }
}

footer {
    background-color: var(--color-black);
    padding: 59px 0 57px 0;
    color: var(--color-white80);
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: relative;
}
footer .f_logo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 235px;
    height: 49px;
    background: url(../images/common/logo_op.svg) no-repeat center center / contain;
    margin-bottom: 10px;
}
footer .f_util .family_site {
    width: 225px;
    position: relative;
}
footer .f_util .family_site .family_open,
footer .f_util .family_site .family_close {
    display: block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: left;
    padding-left: 15px;
    border-radius: 10px;
    background-color: var(--color-basic);
    position: relative;
}
footer .f_util .family_site .family_open::after,
footer .f_util .family_site .family_close::after {
    content: "";
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 13' fill='%23ffffff' fill-opacity='0.9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.75 7.25H0.75C0.5375 7.25 0.359417 7.17808 0.21575 7.03425C0.0719168 6.89042 0 6.71225 0 6.49975C0 6.28708 0.0719168 6.109 0.21575 5.9655C0.359417 5.82183 0.5375 5.75 0.75 5.75H5.75V0.75C5.75 0.5375 5.82192 0.359417 5.96575 0.21575C6.10958 0.0719168 6.28775 0 6.50025 0C6.71292 0 6.891 0.0719168 7.0345 0.21575C7.17817 0.359417 7.25 0.5375 7.25 0.75V5.75H12.25C12.4625 5.75 12.6406 5.82192 12.7843 5.96575C12.9281 6.10958 13 6.28775 13 6.50025C13 6.71292 12.9281 6.891 12.7843 7.0345C12.6406 7.17817 12.4625 7.25 12.25 7.25H7.25V12.25C7.25 12.4625 7.17808 12.6406 7.03425 12.7843C6.89042 12.9281 6.71225 13 6.49975 13C6.28708 13 6.109 12.9281 5.9655 12.7843C5.82183 12.6406 5.75 12.4625 5.75 12.25V7.25Z' /%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .family_wrap {
    display: none;
    position: absolute;
    left: 0;
    bottom: 49px;
    width: 100%;
    padding: 20px 18px 19px 18px;
    border-radius: 10px;
    background-color: var(--color-basic);
}
footer .f_util .family_site .family_wrap ul li a {
    display: block;
    font-size: 1.4rem;
    padding: 4px 0;
}
footer .f_util .family_site .family_wrap ul li a span {
    position: relative;
}
footer .f_util .family_site .family_wrap ul li a span::after {
    content: "";
    position: absolute;
    right: -19px;
    top: 1px;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 11px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='%23ffffff' fill-opacity='0.7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.15853 10.8948C0.834785 10.8948 0.56076 10.7826 0.336456 10.5583C0.112152 10.334 0 10.06 0 9.73624V1.15853C0 0.834785 0.112152 0.56076 0.336456 0.336456C0.56076 0.112152 0.834785 0 1.15853 0H4.72016C4.85656 0 4.97079 0.0460357 5.06287 0.138107C5.15483 0.230072 5.20081 0.344254 5.20081 0.480652C5.20081 0.61705 5.15483 0.731232 5.06287 0.823196C4.97079 0.915268 4.85656 0.961304 4.72016 0.961304H1.15853C1.10918 0.961304 1.064 0.981865 1.02299 1.02299C0.981865 1.064 0.961304 1.10918 0.961304 1.15853V9.73624C0.961304 9.78559 0.981865 9.83077 1.02299 9.87179C1.064 9.91291 1.10918 9.93347 1.15853 9.93347H9.73624C9.78559 9.93347 9.83077 9.91291 9.87179 9.87179C9.91291 9.83077 9.93347 9.78559 9.93347 9.73624V6.17461C9.93347 6.03822 9.97951 5.92398 10.0716 5.83191C10.1635 5.73994 10.2777 5.69396 10.4141 5.69396C10.5505 5.69396 10.6647 5.73994 10.7567 5.83191C10.8487 5.92398 10.8948 6.03822 10.8948 6.17461V9.73624C10.8948 10.06 10.7826 10.334 10.5583 10.5583C10.334 10.7826 10.06 10.8948 9.73624 10.8948H1.15853ZM9.93347 1.63662L4.32346 7.24679C4.2347 7.33544 4.12314 7.38084 3.98877 7.38297C3.85451 7.385 3.74091 7.33961 3.64799 7.24679C3.55517 7.15386 3.50876 7.04128 3.50876 6.90905C3.50876 6.77682 3.55517 6.66424 3.64799 6.57131L9.25816 0.961304H7.20978C7.07338 0.961304 6.9592 0.915268 6.86723 0.823196C6.77516 0.731232 6.72913 0.61705 6.72913 0.480652C6.72913 0.344254 6.77516 0.230072 6.86723 0.138107C6.9592 0.0460357 7.07338 0 7.20978 0H10.3154C10.4807 0 10.6185 0.0552746 10.729 0.165825C10.8395 0.276268 10.8948 0.414108 10.8948 0.579345V3.685C10.8948 3.8214 10.8487 3.93558 10.7567 4.02754C10.6647 4.11961 10.5505 4.16565 10.4141 4.16565C10.2777 4.16565 10.1635 4.11961 10.0716 4.02754C9.97951 3.93558 9.93347 3.8214 9.93347 3.685V1.63662Z' /%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .family_wrap ul li:hover a span {
    border-bottom: 1px solid var(--color-white20);
}
footer .f_util .family_site .family_close {
    display: none;
}
/* 열렸을 때 */
footer .f_util .family_site.open .family_open {
    display: none;
}
footer .f_util .family_site.open .family_close {
    display: block;
}
footer .f_util .family_site.open .family_close::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 2' fill='%23ffffff' fill-opacity='0.9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 1.5C0.5375 1.5 0.359417 1.42808 0.21575 1.28425C0.0719168 1.14042 0 0.96225 0 0.74975C0 0.537083 0.0719168 0.359 0.21575 0.2155C0.359417 0.0718332 0.5375 0 0.75 0H10.25C10.4625 0 10.6406 0.0719168 10.7843 0.21575C10.9281 0.359583 11 0.53775 11 0.75025C11 0.962917 10.9281 1.141 10.7843 1.2845C10.6406 1.42817 10.4625 1.5 10.25 1.5H0.75Z' /%3E%3C/svg%3E%0A");
    animation: family_btn 0.5s 1 forwards;
}
@keyframes family_btn {
    0% { transform: translateY(-50%) rotate(0deg); }
    100% { transform: translateY(-50%) rotate(180deg); }
}
footer .f_inner .f_nav {
    margin-top: 15px;
}
footer .f_inner .f_nav ul {
    display: flex;
    gap: 0 39px;
}
footer .f_inner .f_nav ul li {
    position: relative;
}
footer .f_inner .f_nav ul li::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 6px;
    width: 1px;
    height: 12px;
    background-color: var(--color-white20);
}
footer .f_inner .f_nav ul li:last-child::after {
    display: none;
}
footer .f_inner .f_info {
    margin: 34px 0 0 0;
}
footer .f_inner .f_info span,
footer .f_inner .f_info address {
    display: inline-block;
    margin: 0 24px 7px 0;
}
footer .f_inner .copyright {
    margin: 36px 0 7px 0;
    font-size: 1.6rem;
    color: var(--color-white60);
}
footer .f_inner .sns ul {
    display: flex;
    gap: 0 24px;
}
footer .f_inner .sns ul li a {
    display: block;
    padding-left: 23px;
    position: relative;
}
footer .f_inner .sns ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15px;
}
footer .f_inner .sns ul li.blog a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 3.75C0 1.67893 1.67893 0 3.75 0H11.25C13.3211 0 15 1.67893 15 3.75V11.25C15 13.3211 13.3211 15 11.25 15H3.75C1.67893 15 0 13.3211 0 11.25V3.75Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.60083 6.60706C5.03159 6.0176 5.64792 5.72266 6.44897 5.72266C6.98547 5.72268 7.46907 5.85148 7.89978 6.1084C8.33802 6.36532 8.68191 6.73162 8.93127 7.20764C9.18066 7.67618 9.30542 8.21661 9.30542 8.82874C9.30542 9.44842 9.18066 9.99631 8.93127 10.4724C8.68189 10.9409 8.33809 11.3037 7.89978 11.5607C7.46907 11.8176 6.98546 11.9458 6.44897 11.9458C6.03336 11.9458 5.66307 11.8664 5.33813 11.7078C5.01325 11.5491 4.74466 11.319 4.53308 11.0168V11.8665H3.12744V3.45581H4.60083V6.60706ZM6.21094 6.99219C5.73488 6.99219 5.34157 7.1584 5.03174 7.49084C4.72945 7.82336 4.57825 8.26951 4.57825 8.82874C4.57825 9.38791 4.72951 9.83755 5.03174 10.1776C5.34158 10.5101 5.73484 10.6763 6.21094 10.6763C6.6794 10.6762 7.06469 10.5101 7.36694 10.1776C7.67678 9.83754 7.83203 9.38796 7.83203 8.82874C7.83203 8.26951 7.67678 7.82336 7.36694 7.49084C7.06472 7.1585 6.67931 6.99223 6.21094 6.99219Z' fill='%2303C75A'/%3E%3Cpath d='M11.7712 11.8665H11.1462V3.12195H11.7712V11.8665Z' fill='%2303C75A'/%3E%3C/svg%3E%0A");
}
footer .f_inner .sns ul li.facebook a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_40_339)'%3E%3Cpath d='M11.2032 15H8.66232L7.50208 14.6174L6.35015 15H3.79678C1.70086 15 0 13.2991 0 11.2032V3.79678C0 1.70086 1.70086 0 3.79678 0H11.2032C13.2991 0 15 1.70086 15 3.79678V11.2032C15 13.2991 13.2991 15 11.2032 15Z' fill='%23337FFF'/%3E%3Cpath d='M6.34159 5.86774V7.4979H4.46191V9.63957H6.34159V14.9958H8.65792V9.63957H10.3837L10.7123 7.4979H8.65792V6.10893C8.65792 5.52257 8.94486 4.95285 9.86391 4.95285H10.7996V3.13139C10.7996 3.13139 9.95124 2.98584 9.14032 2.98584C7.44778 2.98584 6.34159 4.01301 6.34159 5.86774Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_40_339'%3E%3Crect width='15' height='15' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

@media screen and (max-width:768px) {
    footer {
        padding: 65px 0 86px 0;
    }
    footer .wrapper {
        flex-direction: column;
    }
    footer .f_logo {
        position: static;
        width: 190px;
        display: block;
        margin: 0 auto 30px auto;
    }
    footer .f_util .family_site {
        width: 100%;
    }
    footer .f_inner .f_nav {
        margin-top: 40px;
    }
    footer .f_inner .f_nav ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0 26px;
    }
    footer .f_inner .f_nav ul li::after {
        right: -14px;
        top: 7px;
        height: 10px;
    }
    footer .f_inner .f_info span,
    footer .f_inner .f_info address {
        display: inline-block;
        margin: 4px 16px 4px 0;
    }
    footer .f_inner .copyright {
        margin: 40px 0 7px 0;
    }
}


.fixed_btns {
    /* 화면 하단 우측에 고정 */
    position: fixed;
    right: 50px;
    bottom: 60px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.fixed_btns .top_btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--color-white); /* 버튼 배경색 */
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    /* 스크롤 없으면 안보이게 처리 (JS에서 show/hide 처리 예정) */
    opacity: 0;
    pointer-events: none; /* 클릭 막기 */
}
.fixed_btns .top_btn::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 19px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 19' fill='%23162246' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.3122 3.2175L1.64871 9.88099C1.45707 10.0726 1.23277 10.1673 0.97582 10.1649C0.718867 10.1623 0.490381 10.0611 0.290361 9.86133C0.103662 9.66131 0.00698209 9.43486 0.000321931 9.18199C-0.00633823 8.92912 0.0903415 8.70268 0.290361 8.50266L8.46334 0.329677C8.58408 0.208935 8.71138 0.123857 8.84522 0.0744433C8.97907 0.0248144 9.12366 0 9.27899 0C9.43433 0 9.57892 0.0248144 9.71276 0.0744433C9.84661 0.123857 9.97391 0.208935 10.0946 0.329677L18.2676 8.50266C18.4462 8.68119 18.5375 8.90227 18.5416 9.16588C18.5456 9.42949 18.4543 9.66131 18.2676 9.86133C18.0676 10.0611 17.8379 10.161 17.5786 10.161C17.3191 10.161 17.0893 10.0611 16.8893 9.86133L10.2458 3.2175V17.8832C10.2458 18.1575 10.1532 18.3872 9.968 18.5722C9.78302 18.7574 9.55335 18.85 9.27899 18.85C9.00464 18.85 8.77497 18.7574 8.58999 18.5722C8.40479 18.3872 8.3122 18.1575 8.3122 17.8832V3.2175Z' /%3E%3C/svg%3E%0A");
}
.fixed_btns .top_btn.show {
    opacity: 1;
    pointer-events: auto; /* 클릭 가능 */
}
.fixed_btns .only_mobile_btn {
    display: none; /* PC에서는 숨김 */
    
    /* 기본 스타일 */
    padding: 7px 17px;
    background-color: #FFE3A9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    color: var(--color-point02);
    text-align: center;
    border-radius: 20px;
    font-size: 1.6rem;
    font-weight: 700;
}

@media screen and (max-width:768px) {
    .fixed_btns {
        right: 16px;
        bottom: 30px;
    }
    .fixed_btns .top_btn {
        /* 모바일에서는 버튼 크기 조정 */
        width: 40px;
        height: 40px;
    }
    .fixed_btns .top_btn::before {
        background-size: 15px;
    }
    .fixed_btns .only_mobile_btn {
        display: block; /* 모바일에서 보이도록 설정 */
    }
}